{% extends 'admin_base.html' %}

{% block page_css %}
<style type="text/css">
    td {
        padding: 3px!important;
        padding-top:7px!important;
    }

    thead {
        border-bottom: 1px dotted rgba(37, 50, 56, 0.1)!important;
    }
    select {
        display: block!important;
    }
    .dataTables_length{
        display: none!important;
      }
</style>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" media="screen,projection"/>{% endblock %}

{% block breadcrums %}
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3" style="  min-height: 70px;">
    <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <ol class="breadcrumb" style="font-size: 29px;">
                <li class="active"><a href="{{ uri_for('admin-organization') }}">Organización</a> | {{first_level_caps_singular}} <a class="btn waves-effect waves-light right brand-color white-text modal-trigger" href="#modal1" style="font-size: 18px;">Agregar {{second_level_caps_singular}}<i class="mdi-action-note-add left"></i></a></li>
                
            </ol>
          </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}


{% block page_content %}
<div class="container">
      <div class="section">
       <div class="row" style="margin-top:30px">
            <div class="row">
              <h3 class="col s12 m7 offset-m1 grey-text" style="font-weight: 200; line-height: 60px; letter-spacing: 0.2px;">Edita la {{first_level_mins_singular}} o administra sus {{second_level_mins_plural}}.</h3>
            </div>
            {% if _user %}
            <div class="card-panel">
              <h5 class="brand-color-text">Perfil ciudadano del {{first_level_caps_person}}</h5>
              <div class="row">
                  <div class="col s12 m3 center" style="margin-top:8px;">
                      <div class="form-group">
                          <label class="controls">
                              {% if _user.picture %}
                                <img id="blah" src="/media/serve/profile/{{_user.key.id()}}/" alt="your image" class="circle responsive-img valign z-depth-1" style="max-height:150px; border: 1px solid #00464F;"/>
                              {% else %}
                                <img id="blah" src="" alt="your image" class="circle responsive-img valign valign z-depth-1" style="max-height:150px; cursor:pointer;display:none;"/>
                                <div id="initial" class="circle red lighten-1" style="width: 110px;   height: 110px; display: inline-block;   vertical-align: middle;   text-align: center;   font-size: 1.5rem;   color: #fff;   font-weight: 300; position: relative;"><span style="position: absolute;top: 25px;left: 42px;font-size: 40px;">{{_user.name[0]}}</span></div>
                              {% endif %}
                              <input class="btn btn-success" type='file' id="picture" name="picture" style="display:none;" disabled="" />
                          </label>
                      </div>                      
                  </div>
                  <div class="col s12 m9">
                      <div class="row">
                          <div class="row">
                            <div class="input-field col s6">
                              <input id="name" name="name" type="text" value="{{_user.name}}" disabled="" style="color: #00464F;">
                              <label for="name">Nombre</label>
                            </div>
                          
                            <div class="input-field col s6">
                              <input id="last_name" name="last_name" type="text" value="{{_user.last_name}}" disabled="" style="color: #00464F;">
                              <label for="last_name">Apellido</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6 m4">
                              <input id="phone" name="phone" type="tel" value="{{_user.phone}}" disabled="" style="color: #00464F;">
                              <label for="phone">Teléfono</label>
                            </div>                       
                            <div class="input-field col s6 m4">
                              <input id="birth" name="birth" type="date" class="datepicker" value="{{_user.birth}}" disabled="" style="color: #00464F;">
                              <label for="birth">Fecha de nacimiento</label>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            {% else %}
             <div class="card-panel red lighten-2">
              <h5 class="white-text">El {{first_level_caps_person}} no ha creado su cuenta.</h5>
            </div>
            {% endif %}
            <div class="card-panel" style="margin-bottom:30px;">
                <form id="form_secretary" action="{{ url|safe }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="delete" id="delete" value="no">
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-action-account-balance prefix brand-color-text"></i>
                      <input id="secname" name="secname" type="text" value="{{secretary.name}}">
                      <label for="secname" class="center-align">Nombre de la {{first_level_caps_singular}}</label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-action-description prefix brand-color-text"></i>
                      <input id="description" name="description" type="text" value="{{secretary.description}}">
                      <label for="description" class="center-align">Descripción</label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-social-person prefix brand-color-text"></i>
                      <input id="adminname" name="adminname" type="text" value="{{secretary.admin_name}}">
                      <label for="adminname" class="center-align">Nombre del {{first_level_caps_person}}</label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-communication-email prefix brand-color-text"></i>
                      <input id="adminemail" name="adminemail" type="text" value="{{secretary.admin_email}}">
                      <label for="adminemail" class="center-align">Email del {{first_level_caps_person}}</label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-communication-phone prefix brand-color-text"></i>
                      <input id="phone" name="phone" type="text" value="{{secretary.phone}}">
                      <label for="phone" class="center-align">Teléfono de la {{first_level_caps_singular}}</label>
                    </div>
                  </div>
                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-social-location-city prefix brand-color-text"></i>
                      <input id="address" name="address" type="text" value="{{secretary.address}}">
                      <label for="address" class="center-align">Dirección de la {{first_level_caps_singular}}</label>
                    </div>
                  </div>
                  <div class="row container" style="padding:25px;     padding-left: 55px!important;">
                    <button class="waves-effect waves-light brand-secondary-color white-text btn right" id="submit_sec_form" >Guardar Cambios
                      <i class="mdi-content-send right"></i>
                    </button>  
                    <a class="waves-effect waves-light grey white-text btn left modal-trigger" href="#modal_delete" >Eliminar {{first_level_caps_singular}}
                      <i class="mdi-action-delete right"></i>
                    </a>                           
                  </div>
                </form>
            </div>
            <div class="divider" style="margin-top:30px;margin-bottom:30px;"></div>
            <table id="data-table-simple" class="dt-responsive no-wrap centered display compact">
                <thead style="font-family:roboto; color:#777777;">
                  <tr class="brand-color white-text">
                      <th>✎</th>
                      <th>{{second_level_caps_singular}}</th>
                      <th>Nombre del {{second_level_caps_person}}</th>
                      <th>Email del {{second_level_caps_person}}</th>
                      <th>Enlaces</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody id="report_table" style="font-family:roboto-light;">
                    {% for agency in agencies %}
                      <tr>
                          <td>
                              <div>    
                                  <a class="icon" href="{{ uri_for('admin-agency-edit', agency_id=agency.get_id()) }}"><i class="glyphicon-pencil glyphicon"></i> Editar {{second_level_mins_singular}} o agregar enlace</a>
                              </div>                          
                          </td>
                          <td>{{agency.name}}</td>
                          <td>{{agency.admin_name}}</td>
                          <td>{{agency.admin_email}}</td>
                          <td>{{agency.get_operators_count()}}</td>
                          <td></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
      </div>
    </div>

<div id="modal1" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
  <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
  <div class="modal-content">
    {% if group_count > 0 %}
    <form id="form_add" action="{{ url|safe }}" method="post">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Agrega una nueva {{second_level_caps_singular}} llenando la siguiente forma</p>
          </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-account-balance prefix brand-color-text"></i>
            <input id="agename" name="agename" type="text">
            <label for="agename" class="center-align">Nombre de la {{second_level_caps_singular}}</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-description prefix brand-color-text"></i>
            <input id="agedescription" name="agedescription" type="text">
            <label for="agedescription" class="center-align">Descripción</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person prefix brand-color-text"></i>
            <input id="ageadminname" name="ageadminname" type="text">
            <label for="ageadminname" class="center-align">Nombre del {{second_level_caps_person}}</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix brand-color-text"></i>
            <input id="ageadminemail" name="ageadminemail" type="email">
            <label for="ageadminemail" class="center-align">Email del {{second_level_caps_person}}</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 l6">
              <i class="mdi-action-group-work left brand-color-text active" style="font-size: 32px;margin-left: 5px;"></i>
              <input type="hidden" id="agegroupcat" name="agegroupcat">
              <label for="agegroupcat" class="center-align" style="margin-left:45px;">Grupo de categorías:</label><br><br>
              <!-- Dropdown Trigger -->
              <a data-hover="false" id='catGroupbtn' class='dropdown-button disabled btn brand-color truncate left' href='#' data-activates='catGroupdd' style="width: 250px; min-height: 45px; line-height: 45px;">
                  <div class="preloader-wrapper small active" style="margin-top: 5px;">
                          <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                      </div>
              </a>
              <blockquote id="subcats" class="grey-text text-lighten-1 left" style="margin-left: 45px;margin-top: 10px;border-left: 5px solid #00464F;"></blockquote>
              <!-- Dropdown Structure -->
              <ul id='catGroupdd' class='dropdown-content' style="max-height: 250px; font-weight: bolder;"></ul>                
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="btn-large waves-effect waves-light col s12 brand-color white-text" style="cursor:pointer;" id="submit_age_form">Agregar</a>
          </div>
        </div>
    </form>
    {% else %}
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Para poder agregar una {{second_level_caps_singular}} es necesario haber creado al menos un grupo de categorías.</p>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <a class="btn-large waves-effect waves-light col s12 brand-color white-text" style="cursor:pointer;" href="{{ uri_for('admin-categories') }}">Ir a crear un grupo de categorías</a>
          </div>
        </div>

    {% endif %}
  </div>
</div>
 <div id="modal_delete" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
              <div class="row">
                <div class="input-field col s12 center">
                  <p class="center login-form-text">¿Seguro que deseas eliminar la {{first_level_caps_singular}}? <br> <span class="red-text">Eliminarás el acceso a sus {{second_level_mins_plural}} y operadores de enlace también</span>.</p>
                </div>
              <div class="row">
                <div class="input-field col s12">
                  <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                  <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_sec_form_delete">Sí, seguro</a>
                </div>
              </div>
          </div>
        </div>
  </div>
{% endblock %}


{% block page_floatings %}
{% endblock %}


{% block page_scripts %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
  var url = "{{ uri_for('materialize-report-categories') }}";
  var reportDict;

  $.ajax({
      url: url,
      type: 'GET',
      success: function(data) { 
          console.log(data)
      }
  }).done(function(data) {
      reportDict = data;
      var html='';
      var abcList = [];
      for (var x in reportDict){
        abcList.push(x);
    }
    abcList.sort();
      for (var i=0,j=abcList.length;i<j;i++){
        html += '<li> <a class="brand-color-text" href="#" onclick="document.getElementById(\'catGroupbtn\').innerHTML=this.innerHTML; document.getElementById(\'agegroupcat\').value=(this.innerHTML).trim(); fillDd(this); return false;">'+ abcList[i] +'</a></li>';
    }
    document.getElementById('catGroupdd').innerHTML = html;
    document.getElementById('catGroupbtn').innerHTML='---';
    if ($('#catGroupbtn').hasClass('disabled')) $('#catGroupbtn').removeClass('disabled');
  });

  function fillDd(pKey){
          pKey = (pKey.innerHTML).trim();
          var html='Las subcategorías de este grupo:';
          var selectObj = reportDict[pKey]['categories'];
          for (var i=0,j=selectObj.length;i<j;i++){
              html += '   ' + selectObj[i] +  ", ";
          }
          document.getElementById('subcats').innerHTML = html.slice(0,-2);       
    }

</script>
<script type="text/javascript">
    document.querySelector('#submit_sec_form').addEventListener('click', function() { 
      if (document.getElementById('adminname').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Llena el campo de nombre del {{first_level_caps_person}} por favor.</span>',4500);

      }else if(document.getElementById('adminemail').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Llena el campo de email por favor.</span>',4500);

      }else if(document.getElementById('secname').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Llena el campo de nombre por favor.</span>',4500);
      }else{
        document.getElementById("delete").value = "secretary_edition";
        document.getElementById("form_secretary").submit();
      }
    });

    document.querySelector('#submit_sec_form_delete').addEventListener('click', function() { 
            document.getElementById("delete").value = "confirmed_deletion";
            document.getElementById("form_secretary").submit();
    });

    document.querySelector('#submit_age_form').addEventListener('click', function() { 
      if (document.getElementById('ageadminname').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Llena el campo de nombre del {{second_level_caps_person}} por favor.</span>',4500);

      }else if(document.getElementById('ageadminemail').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Llena el campo de email por favor.</span>',4500);

      }else if(document.getElementById('agename').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Llena el campo de nombre de la {{second_level_mins_singular}} por favor.</span>',4500);
      
      }else if(document.getElementById('agegroupcat').value==""){
        Materialize.toast('<span class="toast-warning">Oops! Selecciona un grupo de categorías por favor.</span>',4500);
      }else{
        document.getElementById("form_add").submit();
      }
    });

    $('#data-table-simple').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            responsive: true,
            responsive: {
                details: {
                    type: 'column',
                    target: -1
                }
            },
            columnDefs: [ {
                className: 'control',
                orderable: false,
                targets:   -1
            } ],
            "lengthMenu": [[250], [250]],
            "language": {
              "lengthMenu": "Mostrar _MENU_ {{second_level_mins_plural}} por página",
              "search": "Buscar:",
              "zeroRecords": "Ninguna {{second_level_mins_singular}} encontrada",
              "info": "Mostrando _START_ a _END_ de _TOTAL_ {{second_level_mins_plural}}",
              "infoFiltered": "(filtrando sobre _MAX_ {{second_level_mins_plural}})",
              "paginate": {
                  "first":      "Inicio",
                  "last":       "Final",
                  "next":       "Siguiente",
                  "previous":   "Previo"
              }
            }
        } );
</script>
{% endblock %}
