{% extends 'admin_base.html' %}

{% block page_css %}
 <style>
     .collapsible-body p{
        padding-top: 1px!important;
        padding-bottom: 1px!important;
     }
 </style>
{% endblock %}

{% block header %}
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="white">
                <div class="nav-wrapper">
                    <!-- <a href="#" data-activates="left-out" class="sidebar-collapse waves-effect waves-light darken-2" style="top:0!important;left:14px!important;"><i class="mdi-navigation-menu" style="color: #9e9e9e; background-color: white;" ></i></a> -->
                    <div id="main-preloader" class="preloader-wrapper small active left" style="display: none;margin-top:12px; margin-left:60px;">
                      <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>

                      <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>

                      <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>

                      <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                    <ul class="right">
                        <li ><a href="{{ uri_for('admin-logout') }}">{% if not is_mobile %}<i class="mdi-action-exit-to-app left"></i>Cerrar sesión{% else %}<i class="mdi-action-exit-to-app"></i>{% endif %}</a></li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen grey-text text-ligthen-1">{% if not is_mobile %}<i class="mdi-action-settings-overscan left"></i>Ver pantalla completa{% else %}<i class="mdi-action-settings-overscan"></i>{% endif %}</a>
                        <li><a id="chatout-btn" href="#" data-activates="chat-out" class="grey-text chat-collapse" onclick="populateRightSidebar('info');"><i class="large mdi-communication-live-help"></i></a></li>
                        <li style="display: none"><a id="chatout-btn-hidden" href="#" data-activates="chat-out" class="grey-text chat-collapse"><i class="large mdi-communication-live-help"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
{% endblock %}


{% block sidebar_left %}
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li> 
           
            <li class="no-padding" style="margin-bottom: 15px;margin-top: 15px;">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if uri_for('admin-categories') in path or uri_for('admin-topics') in path or uri_for('admin-organization') in path or uri_for('admin-callcenter') in path or uri_for('admin-brand') in path or uri_for('admin-areas') in path %}active{% endif %}"><i class="mdi-maps-layers grey-text left"></i>Capas</a>
                       <div class="collapsible-body">
                            <ul>
                                <li>
                                    <p style="padding: 8px;">
                                      <input type="checkbox" class="filled-in layerControl" id="0" checked>
                                      <label for="0">Polígono estatal</label>
                                    </p>
                                    <p style="padding: 8px;">
                                      <input type="checkbox" class="filled-in layerControl" id="1">
                                      <label for="1">Polígonos municipales</label>
                                    </p>
                                    <p style="padding: 8px;">
                                        <input type="checkbox" class="filled-in layerControl" id="2">
                                        <label for="2">Casillas electorales</label>
                                    </p>
                                    <p style="padding: 8px;">
                                      <input type="checkbox" class="filled-in layerControl" id="3">
                                      <label for="3">Secciones electorales</label>
                                    </p>
                                    <p style="padding: 8px;">
                                      <input type="checkbox" class="filled-in layerControl" id="4">
                                      <label for="4">Distritos electorales</label>
                                    </p>               
                                    <p style="padding: 8px;">
                                      <input type="checkbox" class="filled-in layerControl" id="5">
                                      <label for="5">AGEBs urbanos</label>
                                    </p>
                                    <!-- <p style="padding: 8px;text-align: right; font-size: 11px;">
                                      <a href="https://mexico.cartodb.com/tables/meta_catalogo_descriptores_inegi" target="_blank">Ver descriptores INEGI</a>
                                      <br>
                                      <a href="https://mexico.cartodb.com/tables/meta_catalogo_descriptores_ife" target="_blank" style="margin-right: 3px;">Ver descriptores INE</a>
                                    </p> -->
                                </li>
                                
                            </ul>
                       </div>
                    </li>
                </ul>
            </li>
            <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li> 
       

            <li class="no-padding" style="margin-bottom: 15px;margin-top: 15px;">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if path == uri_for('admin-stats-reports') or path == uri_for('admin-stats-organization') %}active{% endif %}"><i class="mdi-content-filter-list grey-text left"></i>Filtros</a>
                       <div class="collapsible-body">
                            <ul>
                                <li>
                                    
                                        <div class="row">
                                            <div class="container">
                                                <div class="input-field col s12">
                                                    <button class="waves-effect waves-light btn filterbtn col s12" id="statusfilterbtn">Status</button>
                                                    <button class="waves-effect waves-light btn filterbtn col s12" id="categoryfilterbtn" disabled>Categorias</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container">
                                                <div class="switch" style="margin-left:10px; color:grey;">
                                                    Fechas : 
                                                    <label>
                                                        Off
                                                        <input type="checkbox" class="filterControl" id="calendar">
                                                        <span class="lever"></span> On
                                                    </label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="from" type="date" class="datepicker filterControl" disabled>
                                                    <label for="from">Desde</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="until" type="date" class="datepicker filterControl" disabled>
                                                    <label for="until">Hasta</label>
                                                </div>                    
                                            </div>
                                        </div>
                                        <div class="row center">
                                            <div class="container">
                                                <div class="input-field col s12" id='removeFilter'>
                                                    <a class="btn-floating waves-effect waves-light red left" style="height:42px; width:42px; margin-left:18px;"><i class="mdi-content-clear" style="margin-left:-9px;"></i></a>
                                                    <span style="color:grey; cursor:pointer; margin-left:-18px;">Remover filtros</span>
                                                </div>
                                            </div>
                                        </div>
                                                        
                                  </li>
                            </ul>
                       </div>
                    </li>
                </ul>
            </li>
            
            <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li>

            <li class="bold" style="margin-bottom: 15px;margin-top: 15px;"><a href="{{ uri_for("admin") }}" class="waves-effect waves-cyan"><i class="mdi-navigation-arrow-back grey-text"></i> Volver </a>
                </li>
            
        </ul>

        <a href="#" data-activates="slide-out" class="sidebar-collapse hide-on-large-only waves-effect waves-light" style="top:-40px;float:right!important"><i class="mdi-navigation-more-vert brand-color-text" style="font-size: 30px;margin-top: -12px;"></i></a>
    </aside>
    <!-- END LEFT SIDEBAR NAV-->
{% endblock %}

{% block sidebar_right %}
    <!-- Right sidebar -->
    <aside id="right-sidebar-nav">
        <ul id="chat-out" class="side-nav rightside-navigation" style="margin-top:65px;max-height:90%;padding:6px;overflow: scroll; font-family: roboto-light!important;">
            <li class="li-hover">
                <a href="#" data-activates="chat-out" class="chat-close-collapse right" onclick="$('#right-sidebar-nav').hide()"><i class="mdi-navigation-close"></i></a>
            </li>
            <li class="li-hover">
                <div id="right-sidebar-logo" class="container row" style="margin-top:40px;">
                </div>
            </li>
            <li class="li-hover">
                <div id="right-sidebar-title" class="container row" style="margin-top:40px;">
                </div>
            </li>
            <li class="li-hover">
                <div id="right-sidebar-content" class="container row" style="margin-top:40px;text-align: justify;">                                            
                </div>
            </li>
        </ul>
    </aside>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
           <div class="row" style="margin-top:-15px; margin-left:-20px;">
                    <div id="map" style="height:94vh; width:101%;"> </div>
                    <div style="width:200px; position:fixed; top:80px;">
                        <div>
                            <input id="search_address" type="text" placeholder="Buscar dirección... 🔎" onkeydown="if (event.keyCode == 13) codeAddress('search_address');" style="    background-color: white;border-radius: 4px;line-height: 20px;text-align: center;box-shadow: 0 1px 0 0 white!important;border: 1px solid white!important;padding-left: 12px;padding-right: 12px;width: 244px!important;">
                        </div>
                    </div>  
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing,places,panoramio,weather,visualization&key={{gmaps_apikey}}"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="/{{ theme }}/materialize/js/data.js"></script>
    <script type="text/javascript">
        // cartodb
        var sublayers = [];
        var city_user = '{{cartodb_user}}';
        var city_table_name = '{{cartodb_reports_table}}';
        var city_pois_table_name = '{{cartodb_pois_table}}';
        var city_mun_table_name = '{{cartodb_polygon_table}}';
        var city_polygon_full_name = '{{cartodb_polygon_full_name}}';
        var city_polygon_name = '{{cartodb_polygon_name}}';
        var city_cve_ent = {{cartodb_polygon_cve_ent}};
        var cartodb_user = 'mexico';
        var sql = new cartodb.SQL({ user: cartodb_user });

        /* MAPS RELATED */
        var panorama, sv = new google.maps.StreetViewService();
        var mapCenter = [{{lat}},{{lng}}] , map;
        google.maps.event.addDomListener(window,'load', init);
        var query;                    
        
        function init(){
            var mapOptions = {
                center: new google.maps.LatLng(mapCenter[0], mapCenter[1]),
                zoom: 8,
                minZoom:5,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_BOTTOM   
                },
                mapTypeControl: false,
                scrollwheel: true,
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_BOTTOM   
                },
                panControl:false,
                backgroundColor: 'rgb(249, 249, 249)',
                rotateControl:true,
                overviewMapControl:true
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            
            google.maps.event.addDomListener(window, 'resize', function() {
                map.setCenter({lat: mapCenter[0], lng: mapCenter[1]});
            });

            var autocomplete_from = new google.maps.places.Autocomplete(document.getElementById('search_address'))
            autocomplete_from.bindTo('bounds', map);
            google.maps.event.addListener(autocomplete_from, 'place_changed', function() {
                var place = autocomplete_from.getPlace();
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                }else{
                  map.setCenter(place.geometry.location);
                  map.setZoom(17);
                }
            }); 

            var centerControlDiv = document.createElement('div');
            var centerControl = new CenterControl(centerControlDiv, map);
            centerControlDiv.index = 1;
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(centerControlDiv);


            createLayers();


            $('.layerControl').change(function() {
                if (this.checked) sublayers[parseInt(this.id)].show();
                else sublayers[parseInt(this.id)].hide();
            });
               
        }

        function createLayers(entidad){
            entidad = entidad || city_cve_ent;
            // MEXICO LAYERS
            layerSource = {
                user_name: cartodb_user,
                type: 'cartodb',
                sublayers: [{
                    sql: "SELECT nacional_estados.* FROM nacional_estados where cve_ent = "+entidad,
                    cartocss: "#nacional_estados{polygon-fill: {{brand_color}};polygon-opacity: 0.05;line-color: {{brand_color}};line-width: 3;line-opacity: 1;}"
                },{
                    sql: "SELECT nacional_municipios.* FROM nacional_municipios where cve_ent = "+entidad,
                    cartocss: "#nacional_municipios{polygon-fill: {{brand_color}};polygon-opacity: 0.05;line-color: {{brand_color}};line-width: 2;line-opacity: 1;}"
                },{
                    sql: "SELECT nacional_ine_casillas_2012.* FROM nacional_ine_casillas_2012 where entidad = "+entidad,
                    cartocss: "#nacional_ine_casillas_2012{marker-fill: #A53ED5;marker-line-color: #FFFFFF; line-width: 8;line-opacity: 1;marker-allow-overlap:true; marker-comp-op:color-burn;}"
                },{
                    sql: "SELECT nacional_ine_secciones_2012.* FROM nacional_ine_secciones_2012 where entidad = "+entidad,
                    cartocss: "#nacional_ine_secciones_2012{polygon-fill: #FF505B;polygon-opacity: 0.05;line-color: #FF505B;line-width: 1;line-opacity: 1;}"
                },{
                    sql: "SELECT nacional_ine_distritos_2012.* FROM nacional_ine_distritos_2012 where entidad = "+entidad,
                    cartocss: "#nacional_ine_distritos_2012{polygon-fill: #FF505B;polygon-opacity: 0.05;line-color: #FF505B;line-width: 2;line-opacity: 1;}"
                },{
                    sql: "SELECT nacional_ageb.* FROM nacional_ageb WHERE cve_ent = " + entidad,
                    cartocss: "#nacional_ageb{polygon-fill: #56107E;polygon-opacity: 0.05;line-color: #56107E;line-width: 2;line-opacity: 1;}"
                }]
            };
            cartodb.createLayer(map,layerSource)
            .on('done', function(layer) {
                map.overlayMapTypes.setAt(0, layer);
                for (var i = 0; i < layer.getSubLayerCount(); i++) {
                   sublayers[i] = layer.getSubLayer(i);
                   cartodb.vis.Vis.addInfowindow(map, layer.getSubLayer(i), get_interactivity(i));
                   sublayers[i].setInteraction(true);   
                   if (i!=0){
                        sublayers[i].hide(); //leave all turned off except state.
                        $('#'+i).attr('checked', false);                                    
                   } 
                   sublayers[i].on('featureClick', function(e, latlng, pos, data, layerIndex) {
                        console.log("populating sidebar for layerIndex: " + layerIndex);
                        populateRightSidebar('feature', data, latlng, layerIndex);
                   });
                   $('#0').attr('checked', true);
                   console.log("Congrats, you added sublayer #" + i + "!");
                }
            }); 

            map.setZoom(6);

            sql.getBounds('SELECT nacional_estados.* FROM nacional_estados where cve_ent = ' +entidad).done(function(bounds) {
                var southWest = new google.maps.LatLng( bounds[0][0], bounds[0][1] );
                var northEast = new google.maps.LatLng( bounds[1][0], bounds[1][1] );
                var Bounds = new google.maps.LatLngBounds();
                Bounds.extend(southWest);
                Bounds.extend(northEast);
                map.fitBounds(Bounds);
            });

        }

        function get_interactivity(layer_id){
            switch(layer_id){
                case 0: 
                    return ["nom_ent","cve_ent"];
                case 1: 
                    return ["nom_mun","cve_ent","cve_mun"];
                case 2:
                    return ["entidad","municipio","distrito","seccion","nombre"];
                case 3:
                    return ["clavegeo","entidad","municipio","distrito","seccion"];
                case 4:
                    return ["clavegeo","entidad","distrito"];
                case 5:
                    return ["cve_ageb","cve_ent","cve_mun"];
                default:
                    return ["name", "description"];

            }
        }

        function codeAddress(input) {
            var address, obj;                               

            address = document.getElementById(input).value;
            obj = { 'address': address };
            geocoder.geocode( obj, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    
                    if (typeof(input) === 'string') {
                        map.setCenter(results[0].geometry.location);
                        switch (results[0].geometry.location_type){
                            case 'ROOFTOP': map.setZoom(17); break;
                            case 'RANGE_INTERPOLATED': map.setZoom(16); break;
                            case 'GEOMETRIC_CENTER': map.setZoom(15); break;
                            case 'APPROXIMATE': map.setZoom(13); break;
                        }
                    }else{
                        if (results[1]) {
                            document.getElementById(input).value = results[1].formatted_address;
                        } else {
                            console.log('No results found');
                        }
                    }
                
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function CenterControl(controlDiv, map) {
            // Set CSS for the control border.
            var controlUI = document.createElement('div');
            controlUI.style.backgroundColor = '#fff';
            controlUI.style.border = '2px solid #fff';
            controlUI.style.borderRadius = '3px';
            controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginBottom = '2px';
            controlUI.style.marginRight = '10px';
            controlUI.style.textAlign = 'center';
            controlUI.title = 'Click to locate you.';
            controlDiv.appendChild(controlUI);

            // Set CSS for the control interior.
            var controlText = document.createElement('div');
            controlText.style.color = 'rgb(25,25,25)';
            controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
            controlText.style.fontSize = '16px';
            controlText.style.lineHeight = '15px';
            controlText.innerHTML = '<i class="mdi-maps-my-location grey-text text-darken-1" style="font-size:20px; padding:3px;"></i>';
            controlUI.appendChild(controlText);

            // Setup the click event listeners: simply set the map to Chicago.
            controlUI.addEventListener('click', function() {
                $('#main-preloader').show();
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(mapGoPosition);
                } else {
                    Materialize.toast('<span class="toast-warning">Oops! This navigator has no support for locating you.</span>',4500);
                    $('#main-preloader').hide();
                }
            });
        }

        function mapGoPosition(position) {
            map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
            map.setZoom(16);
            $('#main-preloader').hide();
        }

        function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
                if (vars[hash[0]]) if (vars[hash[0]].search(/#/) != -1) vars[hash[0]]=vars[hash[0]].substr(0,vars[hash[0]].search(/#/));
            }
            return vars;
        }
            
        function addCommas(val) {
            while (/(\d+)(\d{3})/.test(val.toString())) {
                var val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }
            return val;
        }     

        var ageb_response, ageb_content;
        function populateRightSidebar(handle, data, latlng, layerIndex){
            switch(handle){
                case 'info':
                    $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-communication-live-help"></i></p>');
                    $('#right-sidebar-title').html('<h5 class="center grey-text">¡Bienvenido!</h5>');
                    $('#right-sidebar-content').html('<p class="grey-text">Para comenzar a usar tu plataforma es muy sencillo.</p><p class="grey-text">Este es tu botón para activar las capas de información - <span class="brand-color-text"><i class="mdi-maps-layers" style="font-size:20px;" ></i>Capas de información</span>. Con él, activa las capas que desees y has clic para descubrir la información asociada.</p>');
                    $('#right-sidebar-nav').show();
                    return false;
                case 'feature':
                    map.setCenter(new google.maps.LatLng(latlng[0], latlng[1]));
                    switch(layerIndex){
                        case 5:
                              $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-image-filter-center-focus"></i></p>');
                              $('#right-sidebar-title').html('<h5 class="center grey-text">AGEB: '+ data.cve_ageb + '</h5>');
                              sql.execute("SELECT * FROM nacional_ageb_data where cve_ent = " + data.cve_ent + " and cve_mun = " + data.cve_mun + " and cve_ageb = '" + data.cve_ageb + "'").done(function(response) {
                                  console.log('nacional_ageb_data', response);
                                  ageb_response = response.rows[0];
                                  ageb_content = '<h6 class=" grey-text" style="font-weight:bolder;">Demografía, INEGI 2010</h6>';

                                  agebArr.forEach(getAGEB);

                                  $('#right-sidebar-content').html(ageb_content);

                              });
                              break;
                        case 4:
                            $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-image-crop-din"></i></p>');
                            $('#right-sidebar-title').html('<h5 class="center grey-text">Distrito: '+ data.distrito + '</h5>');
                            sql.execute("SELECT * FROM nacional_ine_distritos_2012 where clavegeo = '" + data.clavegeo + "'").done(function(response) {
                                console.log('nacional_ine_distritos_2012', response);
                                var content = '';
                                $('#right-sidebar-content').html(content);
                            });
                            break;
                        case 3:
                            $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-image-flip"></i></p>');
                            $('#right-sidebar-title').html('<h5 class="center grey-text">Seccion: '+ data.seccion + '</h5>');

                            sql.execute("SELECT * FROM nacional_ine_secciones_2012 where clavegeo = '" + data.clavegeo + "'").done(function(response) {
                                console.log('nacional_ine_secciones_2012', response);
                                response = response.rows[0];
                                var content ='<p class=" grey-text">Esta sección pertenece al Distrito '+response.distrito+', en el Estado de '+estado[response.entidad-1]+'.</p>';
                                content+='<h6 class=" grey-text" style="font-weight:bolder;">Demografía, INEGI 2010</h6>';
                                content+='<p class=" grey-text">El grado de escolaridad promedio era de '+response.graproes+' años.</p>';
                                content+='<p class=" grey-text">Había '+response.pobtot+' habitantes ('+response.pobmas+' hombres y '+response.pobfem+' mujeres) en '+response.tvivhab+' viviendas de las cuales '+response.vph_c_serv+' cuentan con servicios básicos. Y '+response.hogjef_f+' son liderados por una mujer.</p>';
                                var lim = response.pclim_aud + response.pclim_leng + response.pclim_men + response.pclim_men2 + response.pclim_mot + response.pclim_vis + response.pcon_lim;
                                content+='<p class=" grey-text">Existían '+lim+' personas discapacitadas y aproximadamente '+response.psinder+' personas no contaban con servicios de salud.</p>';
                                var peac = Math.round(response.pocupada/response.pea*100) || 0;
                                content+='<p class=" grey-text">Con una tasa de empleo del '+peac+'%.</p>';
                                content+='<p class=" grey-text">En temas de bienes por vivienda, '+response.vph_autom+' tienen automóvil, '+response.vph_c_elec+' acceso a red eléctrica, '+response.vph_cel+' tienen teléfono celular, '+response.vph_pc+' cuentan con una computadora, '+response.vph_inter+' tienen acceso a internet, '+response.vph_pisodt+' cuentan con piso, '+response.vph_tv+' tienen televisión, '+response.vph_radio+' tienen radio, '+response.vph_refri+' tienen refrigerador y '+response.vph_lavad+' tienen lavadora.</p>';

                                $('#right-sidebar-content').html(content);
                            });
                            break;
                        case 2:
                            $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-image-filter-center-focus"></i></p>');
                            $('#right-sidebar-title').html('<h5 class="center grey-text">Seccion: '+ data.seccion + ' Casilla: '+ data.nombre + '</h5>');
                            sql.execute("SELECT * FROM nacional_ine_casillas_2012 where entidad = " + data.entidad + " and municipio = " + data.municipio + " and distrito = " + data.distrito + " and seccion = " + data.seccion + " and nombre = '" + data.nombre +"'").done(function(response) {
                                console.log('nacional_ine_casillas_2012', response);
                                var content = '';
                                var response = response.rows[0];
                                sql.execute("SELECT * FROM nacional_ine_secciones_2012 where distrito = " + response.distrito + " and seccion = "+response.seccion).done(function(_response) {
                                    console.log('nacional_ine_secciones_2012', _response);
                                    var response = _response.rows[0];
                                    content +='<p class=" grey-text">Esta casilla pertenece a la sección '+response.seccion+', que pertenece al Distrito '+response.distrito+', en el Estado de '+estado[response.entidad-1]+'.</p>';
                                    content+='<h6 class=" grey-text" style="font-weight:bolder;">Demografía, INEGI 2010</h6>';
                                    content+='<p class=" grey-text">El grado de escolaridad promedio era de '+response.graproes+' años.</p>';
                                    content+='<p class=" grey-text">Había '+response.pobtot+' habitantes ('+response.pobmas+' hombres y '+response.pobfem+' mujeres) en '+response.tvivhab+' viviendas de las cuales '+response.vph_c_serv+' cuentan con servicios básicos. Y '+response.hogjef_f+' son liderados por una mujer.</p>';
                                    var lim = response.pclim_aud + response.pclim_leng + response.pclim_men + response.pclim_men2 + response.pclim_mot + response.pclim_vis + response.pcon_lim;
                                    content+='<p class=" grey-text">Existían '+lim+' personas discapacitadas y aproximadamente '+response.psinder+' personas no contaban con servicios de salud.</p>';
                                    var peac = Math.round(response.pocupada/response.pea*100) || 0;
                                    content+='<p class=" grey-text">Con una tasa de empleo del '+peac+'%.</p>';
                                    content+='<p class=" grey-text">En temas de bienes por vivienda, '+response.vph_autom+' tienen automóvil, '+response.vph_c_elec+' acceso a red eléctrica, '+response.vph_cel+' tienen teléfono celular, '+response.vph_pc+' cuentan con una computadora, '+response.vph_inter+' tienen acceso a internet, '+response.vph_pisodt+' cuentan con piso, '+response.vph_tv+' tienen televisión, '+response.vph_radio+' tienen radio, '+response.vph_refri+' tienen refrigerador y '+response.vph_lavad+' tienen lavadora.</p>';

                                    $('#right-sidebar-content').html(content);
                                });

                            });
                            break;
                        case 1:
                              $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-image-filter-center-focus"></i></p>');
                              $('#right-sidebar-title').html('<h5 class="center grey-text">Municipio: '+ data.cve_mun + '</h5>');
                              sql.execute("SELECT * FROM nacional_municipal_data where cve_ent = " + data.cve_ent + " and cve_mun = " + data.cve_mun).done(function(response) {
                                  console.log('nacional_municipal_data', response);
                                  ageb_response = response.rows[0];
                                  ageb_content = '<h6 class=" grey-text" style="font-weight:bolder;">Demografía, INEGI 2010</h6>';

                                  agebArr.forEach(getAGEB);

                                  $('#right-sidebar-content').html(ageb_content);

                              });
                              break;
                        case 0:
                              $('#right-sidebar-logo').html('<p class="center grey-text"><i class="large mdi-image-filter-center-focus"></i></p>');
                              $('#right-sidebar-title').html('<h5 class="center grey-text">Estado: '+ data.cve_ent + '</h5>');
                              sql.execute("SELECT * FROM nacional_estatal_data where cve_ent = " + data.cve_ent).done(function(response) {
                                  console.log('nacional_estatal_data', response);
                                  ageb_response = response.rows[0];
                                  ageb_content = '<h6 class=" grey-text" style="font-weight:bolder;">Demografía, INEGI 2010</h6>';

                                  agebArr.forEach(getAGEB);

                                  $('#right-sidebar-content').html(ageb_content);

                              });
                              break;
                        
                    }
                    $('#right-sidebar-nav').show();
                    $('#chatout-btn-hidden').click();
                    return false;

            }
        }
        function getAGEB(item,index){
            ageb_content += '<p class="grey-text">' + inegiDict[item] + ': <span style="font-family:roboto-black;">'+ ageb_response[item] +'</span></p>'
          }

    </script>
{% endblock %}
            
