{% extends 'admin_base.html' %}

{% block breadcrums %}
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3" style="  min-height: 70px;">
    <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
                                
            <h5 class="breadcrumbs-title">Detalle del reporte</h5>
          </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}

{% block page_content %}

    <div class="section row" style="margin-bottom: 50px;border-bottom: 1px solid rgba(0, 70, 79, 0.12);padding-bottom: 30px;padding-top: 30px;">
        <div class="row center">            
           <div class="col s12">
            <!-- <a class="waves-effect waves-light grey white-text btn modal-trigger" href="#modal_delete" style="margin-top:8px;">Archivar<i class="mdi-action-delete right"></i> </a>  
            <a class="waves-effect waves-light  red lighten-3 white-text btn modal-trigger" href="#modal_spam" style="margin-top:8px;">Spam<i class="mdi-action-bug-report right"></i></a> 
             -->
            {% if report.urgent %}
            <a id="urgent_top" class="btn deep-orange darken-2" href="#" onclick="urgentCall({{report.key.id()|safe}})" style="margin-top:8px;"><i class="mdi-av-new-releases right"></i>Remover urgencia</a>
            {% else %}
            <a id="urgent_top" class="btn white deep-orange-text text-darken-2" href="#" onclick="urgentCall({{report.key.id()|safe}})" style="margin-top:8px;"><i class="mdi-av-new-releases right"></i>Marcar urgente</a>
            {% endif %}
            <a class="btn orange lighten-2 modal-trigger" href="#modalficha" style="margin-top:8px;"><i class="mdi-action-assignment right"></i>Ficha de Reporte</a>
            <a class="waves-effect waves-light light-green white-text btn modal-trigger" href="#modalcomment" style="margin-top:8px;">Responder<i class="mdi-action-question-answer right"></i></a> 
            <a class="waves-effect waves-light purple lighten-2 white-text btn modal-trigger" href="#modalnote" style="margin-top:8px;">Nota<i class="mdi-action-description right"></i></a>
            <a class="waves-effect waves-light light-blue white-text btn" id="submit_report_form_top" style="margin-top:8px;">Publicar<i class="mdi-content-send right"></i></a>
           </div>    
        </div>
    </div>
    
    <div class="row">
        <h2 class="header center brand-color-text">Información del Reporte <i id="urgent_marker" class="mdi-av-new-releases deep-orange-text text-accent-3 " style="
    font-size: 42px;{% if not report.urgent %}display:none;{% endif %}"></i></h2>
        <div class="col s12 m7">
            <div class="card-panel brand-color white-text">
                <dl class="dl-horizontal brand-color white-text">
                    <div class="row">
                          <div class="col s12 l6">
                            <dt class="grey-text text-lighten-2">Creado:</dt>
                            <dd class="text-darken-3">{{ report.get_created_date() }} ({{report.get_human_date()}})</dd>
                            <dt class="grey-text text-lighten-2">Actualizado:</dt>
                            <dd class="text-darken-3">{{ report.get_updated_date() }} ({{report.get_human_updated_date()}})</dd>
                            <dt class="grey-text text-lighten-2">Ticket:</dt>
                            <dd class="text-darken-3">{% if report.cdb_id != -1 %} {{report.cdb_id}} {% else %} Sin publicar {% endif %}</dd>
                            <dt class="grey-text text-lighten-2">Prioridad:</dt>
                            <dd class="text-darken-3" style="color:{{report.get_priority_color()}}">{{ report.get_priority()|safe }}</dd>
                          </div>
                          <div class="col s12 l6">
                            <dt class="grey-text text-lighten-2">Email de envío:</dt>
                            <dd class="text-darken-3">{{ report.get_user_email() }}</dd>
                            <dt class="grey-text text-lighten-2">Vía:</dt>
                            <dd class="text-darken-3">{{ report.get_via() }}</dd>
                            <dt class="grey-text text-lighten-2">Seguidores:</dt>
                            <dd class="text-darken-3">{{ report.follows }}</dd>
                            <dt class="grey-text text-lighten-2">Nivel de satisfacción:</dt>
                            <dd class="text-darken-3">{{ report.rating }}</dd>
                          </div>
                          <div class="col s12">
                            <dt class="grey-text text-lighten-2">Información de contacto:</dt>
                            <dd class="text-darken-3">{{report.get_contact_info()}}</dd>
                          </div>
                    </div>
                </dl>
            </div>
        </div>
        {% if report.image_url %}
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <a class="modal-trigger" href="#modalimage"><img class="responsive-img" src="{{report.image_url}}"></a>
                </div>                    
                <div class="card-content brand-color-text">
                </div>
            </div>
        </div>
        {% else %}
        <div class="col s12 m5">
            <div class="card" style="max-height: 245px;">
                <div class="card-image">
                    <div id="gSV" class="row"></div>
                </div>                    
                <div class="card-content brand-color-text">
                </div>
            </div>
        </div>
        {% endif %}                           
    </div>

    <div class="section">
        <div class="container">
        <div class="row grey-text text-darken-3">
      <form class="col s12" id="form_edit_report" action="{{ url|safe }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="delete" id="delete" value="no">
            <input type="hidden" name="contents" id="contents" value="">
            <input type="hidden" name="kind" id="kind" value="fixes">
            <input type="hidden" id="catGroup" name="catGroup" value="{{report.group_category}}">
            <input type="hidden" id="subCat" name="subCat" value="{{report.sub_category}}">
            <input type="hidden" id="status" name="status" value="{{report.get_status()}}">
            <div class="container">                
                <div class="col s12 m10 offset-m1">
                  <div class="row">

                        <div class="row">

                            <div class="input-field container col s12 m4">                                
                                <!-- Dropdown Trigger -->
                                <p> <i class="mdi-action-book brand-color-text left"></i> Estado:</p>
                                <a data-hover="false" id='statusbtn' class='dropdown-button btn brand-color truncate' href='#' data-activates='statusdd' style="min-width: 250px; min-height: 45px; line-height: 45px; margin-left: 15px;">{{report.get_status()}}</a>
                                <!-- Dropdown Structure -->
                                <ul id='statusdd' class='dropdown-content' style="max-height: 250px; margin-left: 15px; font-weight: bolder;">
                                    <!-- COMMENTED STATUS BELONG TO OPERATORS -->
                                    <li> <a class="brand-color-text" href="#" onclick="document.getElementById('statusbtn').innerHTML=this.innerHTML; getStatus((this.innerHTML).trim()); return false;">Asignado</a></li>
                                    <li> <a class="brand-color-text" href="#" onclick="document.getElementById('statusbtn').innerHTML=this.innerHTML; getStatus((this.innerHTML).trim()); return false;">En proceso</a></li> 
                                    <li><a class="waves-effect waves-light green-text modal-trigger" href="#modal_solved" style="margin-top:8px;">Resuelto<i class="mdi-action-assignment-turned-in right"></i></a> </li>  
                                     <li><a class="waves-effect waves-light red-text modal-trigger" href="#modal_failed" style="margin-top:8px;">Fallo<i class="mdi-action-assignment-late right"></i></a> </li> 
                                    <li><a class="waves-effect waves-light grey-text modal-trigger" href="#modal_delete" style="margin-top:8px;">Archivado<i class="mdi-action-delete right"></i></a> </li>
                                    <li>  <a class="waves-effect waves-light red-text text-lighten-2 modal-trigger" href="#modal_spam" style="margin-top:8px;">Spam<i class="mdi-action-bug-report right"></i></a> </li>
                                    <!-- <li> <a class="brand-color-text" href="#" onclick="document.getElementById('statusbtn').innerHTML=this.innerHTML; getStatus((this.innerHTML).trim()); return false;">Rechazado</a></li>  -->    
                                    <li> <a class="brand-color-text" href="#" onclick="document.getElementById('statusbtn').innerHTML=this.innerHTML; getStatus((this.innerHTML).trim()); return false;">Olvidado</a></li>                                                                                                                                    
                                </ul>                
                            </div>

                            <div class="input-field container col s12 m4">
                                <!-- Dropdown Trigger -->
                                <p> <i class="mdi-action-group-work brand-color-text left"></i> Grupo:</p>
                                <a data-hover="false" id='catGroupbtn' class='dropdown-button disabled btn brand-color truncate tooltipped' data-position="top" data-delay="50" data-tooltip="{{report.group_category}}" href='#' data-activates='catGroupdd' style="min-width: 250px; min-height: 45px; line-height: 45px; margin-left: 15px; max-width:300px;">{{report.group_category}}</a>
                                <!-- Dropdown Structure -->
                                <ul id='catGroupdd' class='dropdown-content' style="max-height: 250px; margin-left: 15px; font-weight: bolder;"></ul>                
                            </div>
                          
                            <div id="subCatdd_container" class="input-field container col s12 m4">
                                <!-- Dropdown Trigger -->
                                <p> <i class="mdi-image-style brand-color-text left"></i> Categoría</p>
                                <a data-hover="false" id='subCatbtn' class='dropdown-button btn disabled brand-color truncate tooltipped' data-position="top" data-delay="50" data-tooltip="{{report.sub_category}}"   href='#' data-activates='subCatdd' style="min-width: 250px; min-height: 45px; line-height: 45px;margin-left: 15px; max-width:300px;">{{report.sub_category}}</a>
                                <!-- Dropdown Structure -->
                                <ul id='subCatdd' class='dropdown-content' style="max-height: 250px; margin-left: 15px; font-weight: bolder;"></ul>                
                            </div>
                        
                        </div>

                        <div class="row" style="margin-top: 25px;">
                            <div class="input-field col s12 m4">                                
                                <i class="mdi-action-event prefix brand-color-text"></i>
                                <input id="when" name="when" type="date" class="datepicker" value="{{report.get_formatted_date()}}">
                                <label for="when">¿Cuándo sucedió?</label>
                            </div>
                            <div class="input-field col s12 m4">                                
                                <i class="mdi-av-subtitles prefix brand-color-text"></i>
                                <input id="title" name="title" type="text" value="{{report.title}}">
                                <label for="title">Título</label>
                            </div>
                            <div class="input-field col s12 m4">                                
                                <i class="mdi-action-receipt prefix brand-color-text"></i>
                                <input id="folio" name="folio" type="text" value="{{report.folio}}">
                                <label for="folio">Folio interno</label>
                            </div>
                        </div>
                      
                      
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-action-description prefix brand-color-text"></i>
                                <textarea id="description" name="description" class="materialize-textarea" length="500" style="height: 22px;" type="text" >{{report.description}}</textarea>
                                <label for="description">Descripción la situación</label>
                            </div>
                        </div>    
                  </div>
              </div>
            </div>
            
            <div class="input-field col s10 offset-s1">
                <i class="mdi-maps-pin-drop  prefix brand-color-text" onclick="geocode('from')"></i>
                <input id="address_from" name="address_from" type="text" class="validate" value="{{report.address_from}}" onkeydown="if (event.keyCode == 13) geocode('from');">
                <label for="address_from" class="active">Ubicación</label>
                <div id="map" style="width:100%; height: 500px; top: 35px; border-radius: 4px; margin-bottom:60px"></div>
            </div>                
            <input type="text" id ="address_from_coord" name="address_from_coord" value="{{report.address_from_coord}}" hidden>            
      </form>
      </div>
      </div>
    </div>

    <div id="modalficha" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
              <div class="row">
                    <div class="input-field col s12 center" style="    margin-bottom: 45px;">
                      <p class="center login-form-text">ficha de reporte</p>
                    </div>
                    <div class="row" style="    margin-bottom: 45px;">
                      <div class="container">
                          <div class="row">
                            <div class="col s12">
                                <table class="responsive-table">
                                  <thead>
                                    <tr>
                                        <th class="brand-color white-text">Fecha</th>
                                        <th class="brand-color white-text">Responsable</th>
                                        <th class="brand-color white-text">Dirección</th>
                                        <th class="brand-color white-text">Teléfono</th>
                                    </tr>
                                  </thead>
                                    <tbody><tr>
                                      <td>{{report.get_formatted_date()}}</td>
                                      <td>{{report.get_user_name()}} {{report.get_user_lastname()}} &lt;{{report.get_user_email()}}&gt;</td>
                                      <td>{{report.get_user_address()}}</td>
                                      <td>{{report.get_user_phone()}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="col s12">
                                <table class="responsive-table">
                                  <thead>
                                    <tr>
                                        <th class="brand-color white-text">Medio</th>
                                        <th class="brand-color white-text">Asunto</th>
                                        <th class="brand-color white-text">Secretaría</th>
                                        <th class="brand-color white-text">Dependencia</th>
                                        <th class="brand-color white-text">Estado</th>
                                        <th class="brand-color white-text">Folio</th>
                                    </tr>
                                  </thead>
                                    <tbody><tr>
                                      <td>{{report.get_via()}}</td>
                                      <td>{{report.sub_category}}</td>
                                      <td>{{report.get_secretary()}}</td>
                                      <td>{{report.get_agency()}}</td>
                                      <td>{{report.get_status()}}</td>
                                      <td>{{report.folio}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>




                          </div>
                      </div>
                    </div>
              </div>
          </div>
    </div>
    <div id="modal_delete" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
              <div class="row">
                    <div class="input-field col s12 center">
                      <p class="center login-form-text">¿Seguro que deseas archivar el reporte?<br> Te sugerimos guardar la razón por la que lo estás archivando.</p>
                    </div>
                    <div class="row">
                      <div class="container">
                          <div class="row">
                            <div class="row margin">
                              <div class="input-field col s12">
                                <i class="mdi-action-description prefix brand-color-text"></i>
                                <input id="deletenote" name="deletenote" type="text" value="">
                                <label for="deletenote" class="center-align">Razón por la que se archiva</label>
                              </div>
                            </div>

                            <div class="input-field col s12">
                              <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                              <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_report_form_delete">Sí, seguro</a>
                            </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
    </div>
    <div id="modal_spam" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
              <div class="row">
                    <div class="input-field col s12 center">
                      <p class="center login-form-text">¿Seguro que deseas marcarlo como SPAM?<br> Te sugerimos guardar la razón por la que lo estás haciendo.</p>
                    </div>
                    <div class="row">
                      <div class="container">
                          <div class="row">
                            <div class="row margin">
                              <div class="input-field col s12">
                                <i class="mdi-action-description prefix brand-color-text"></i>
                                <input id="spamnote" name="spamnote" type="text" value="">
                                <label for="spamnote" class="center-align">Razón por la que se marca como spam</label>
                              </div>
                            </div>

                            <div class="input-field col s12">
                              <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                              <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_report_form_spam">Sí, seguro</a>
                            </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
    </div>
    <div id="modal_solved" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
              <div class="row">
                    <div class="input-field col s12 center">
                      <p class="center login-form-text">¿Seguro que deseas marcar el reporte como resuelto?<br> Te sugerimos guardar la razón por la que lo estás haciendo.</p>
                    </div>
                    <div class="row">
                      <div class="container">
                          <div class="row">
                            <div class="row margin">
                              <div class="input-field col s12">
                                <i class="mdi-action-description prefix brand-color-text"></i>
                                <input id="solvednote" name="solvednote" type="text" value="">
                                <label for="solvednote" class="center-align">Razón por la que se marca como resuelto</label>
                              </div>
                            </div>

                            <div class="input-field col s12">
                              <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                              <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_report_form_solved">Sí, seguro</a>
                            </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
    </div>
    <div id="modal_failed" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
              <div class="row">
                    <div class="input-field col s12 center">
                      <p class="center login-form-text">¿Seguro que deseas cerrar el reporte como FALLO?<br> Te sugerimos guardar la razón por la que lo estás haciendo.</p>
                    </div>
                    <div class="row">
                      <div class="container">
                          <div class="row">
                            <div class="row margin">
                              <div class="input-field col s12">
                                <i class="mdi-action-description prefix brand-color-text"></i>
                                <input id="failednote" name="failednote" type="text" value="">
                                <label for="failednote" class="center-align">Razón por la que se marca como FALLO</label>
                              </div>
                            </div>

                            <div class="input-field col s12">
                              <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                              <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_report_form_failed">Sí, seguro</a>
                            </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
    </div>
    <div id="modalnote" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
        <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12 center">
                  <p class="center login-form-text">Llena el siguiente campo y guarda una nota interna.</p>
                </div>
                <div class="row">
                  <div class="container">
                      <div class="row">
                        <div class="row margin">
                          <div class="input-field col s12">
                            <i class="mdi-action-description prefix brand-color-text"></i>
                            <input id="internalnote" name="internalnote" type="text" value="">
                            <label for="internalnote" class="center-align">Nota</label>
                          </div>
                        </div>
                        <div class="input-field col s12">
                          <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                          <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_note_form">Guardar</a>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalcomment" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
        <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12 center">
                  <p class="center login-form-text">Llena el siguiente campo y responde al ciudadano.</p>
                </div>
                <div class="row">
                  <div class="container">
                      <div class="row">
                        <div class="row margin">
                          <div class="input-field col s12">
                            <i class="mdi-action-question-answer prefix brand-color-text"></i>
                            <input id="ucomment" name="ucomment" type="text" value="">
                            <label for="ucomment" class="center-align">Comentario</label>
                          </div>
                        </div>
                        <div class="input-field col s12">
                          <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                          <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_comment_form">Responder</a>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_log" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
          <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
          <div class="modal-content">
            <div class="row">
                <div class="input-field col s12 center">
                  <p class="center login-form-text" id="modal-title">¿Seguro que deseas eliminar este log?</p>
                </div>
              <div class="row">
                <div class="input-field col s12">
                  <a class="btn-large waves-effect waves-light col s4 grey white-text modal-action modal-close" style="cursor:pointer;">Cancelar</a>
                  <a class="btn-large waves-effect waves-light col s4 offset-s4 brand-color white-text" style="cursor:pointer;" id="submit_log_delete">Sí, seguro</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    {% if report.image_url %}
    <div id="modalimage" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
        <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
        <div class="modal-content">
            <div class="row">
                <div class="row">
                  <div class="container">
                      <img class="responsive-img" src="{{report.image_url}}">
                  </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="section row" style="margin-bottom: 50px;border-top: 1px solid rgba(0, 70, 79, 0.12);border-bottom: 1px solid rgba(0, 70, 79, 0.12);padding-bottom: 30px;padding-top: 30px;">
        <div class="row center">            
            <div class="col s12">
            <!-- <a class="waves-effect waves-light grey white-text btn modal-trigger" href="#modal_delete" style="margin-top:8px;">Archivar<i class="mdi-action-delete right"></i> </a>  
            <a class="waves-effect waves-light  red lighten-3 white-text btn modal-trigger" href="#modal_spam" style="margin-top:8px;">Spam<i class="mdi-action-bug-report right"></i></a>  -->
            {% if report.urgent %}
            <a id="urgent_bottom" class="btn deep-orange darken-2" href="#" onclick="urgentCall({{report.key.id()|safe}})" style="margin-top:8px;"><i class="mdi-av-new-releases right"></i>Remover urgencia</a>
            {% else %}
            <a id="urgent_bottom" class="btn white deep-orange-text text-darken-2" href="#" onclick="urgentCall({{report.key.id()|safe}})" style="margin-top:8px;"><i class="mdi-av-new-releases right"></i>Marcar urgente</a>
            {% endif %}
            <a class="btn orange lighten-2 modal-trigger" href="#modalficha" style="margin-top:8px;"><i class="mdi-action-assignment right"></i>Ficha de Reporte</a>
            <a class="waves-effect waves-light light-green white-text btn modal-trigger" href="#modalcomment" style="margin-top:8px;">Responder<i class="mdi-action-question-answer right"></i></a> 
            <a class="waves-effect waves-light purple lighten-2 white-text btn modal-trigger" href="#modalnote" style="margin-top:8px;">Nota<i class="mdi-action-description right"></i></a>
            <a class="waves-effect waves-light light-blue white-text btn" id="submit_report_form_bottom" style="margin-top:8px;">Publicar<i class="mdi-content-send right"></i></a>
           </div>         
        </div>
    </div>

    {% if has_logs %}
    <div class="section">
        <div class="container">
            <div class="row">
                <h2 class="header center brand-color-text">Log de cambios y comentarios</h2>
                <div class="col s12 m10 offset-m1">
                    <ul class="collection" style="overflow:scroll;">
                        {% for idx, date, image, initial, name, email, title, contents in logs %}
                          <li id="{{idx}}" class="collection-item avatar" style="text-align: right; height: auto; display:inline-block; width: 100%;">
                            {% if image != -1 %}
                                <img src="{{image}}" alt="" class="circle">
                            {% else %}
                                <i class="mdi-action-face-unlock circle"></i>
                            {% endif %}
                            <span class="title"><span class="orange-text">{{name}} &lt;{{email}}&gt;</span> {{title}}</span>
                            <p class="brand-color-text"> 
                                <span class="light-blue-text">{{date}}</span>
                                <br> 
                                {{contents}}
                                <br>
                                <i class="mdi-action-delete red white-text" style="cursor:pointer; border-radius: 10px;" onclick="$('#modal_log').openModal(); $('#logID_url').val('{{ uri_for('materialize-log-delete', log_id = idx) }}'); $('#logID').val('{{idx}}'); return false;"></i>
                            </p>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="logID_url" value="" hidden>
    <input type="text" id="logID" value="" hidden>
    {% endif %}


{% endblock %}


{% block page_floatings %}
{% endblock %}


{% block page_scripts %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,visualization"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <script type="text/javascript">
 
    document.querySelector('#submit_report_form_delete').addEventListener('click', function() { 
            if (document.getElementById("subCat").value != "---"){
                document.getElementById("contents").value = document.getElementById("deletenote").value;
                document.getElementById("delete").value = "confirmed_deletion";
                document.getElementById('status').value = "archived";
                document.getElementById("kind").value = "status";
                document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor selecciona una categoría.</span>',4500);
    });

    document.querySelector('#submit_report_form_spam').addEventListener('click', function() { 
            if (document.getElementById("subCat").value != "---"){
                document.getElementById("contents").value = document.getElementById("spamnote").value;
                document.getElementById("delete").value = "report_edition";
                document.getElementById('status').value = "spam";
                document.getElementById("kind").value = "status";
                document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor selecciona una categoría.</span>',4500);
    });

    document.querySelector('#submit_report_form_solved').addEventListener('click', function() { 
            if (document.getElementById("subCat").value != "---"){
                document.getElementById("contents").value = document.getElementById("solvednote").value;
                document.getElementById("delete").value = "report_edition";
                document.getElementById('status').value = "solved";
                document.getElementById("kind").value = "status";
                document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor selecciona una categoría.</span>',4500);
    });

    document.querySelector('#submit_report_form_failed').addEventListener('click', function() { 
            if (document.getElementById("subCat").value != "---"){
                document.getElementById("contents").value = document.getElementById("failednote").value;
                document.getElementById("delete").value = "report_edition";
                document.getElementById('status').value = "failed";
                document.getElementById("kind").value = "status";
                document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor selecciona una categoría.</span>',4500);
    });
    
    document.querySelector('#submit_report_form_top').addEventListener('click', function() { 
            if (document.getElementById("subCat").value != "---"){
                document.getElementById("delete").value = "report_edition";
                document.getElementById("address_from_coord").value = marker.getPosition().toString().slice(1,-1);       
                document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor selecciona una categoría.</span>',4500);
    });

    document.querySelector('#submit_report_form_bottom').addEventListener('click', function() { 
            if (document.getElementById("subCat").value != "---"){
                document.getElementById("delete").value = "report_edition";
                document.getElementById("address_from_coord").value = marker.getPosition().toString().slice(1,-1);       
                document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor selecciona una categoría.</span>',4500);
    });
    
    document.querySelector('#submit_note_form').addEventListener('click', function() { 
            if (document.getElementById("internalnote").value != "" && document.getElementById("subCat").value != "---"){
              document.getElementById("contents").value = document.getElementById("internalnote").value;
              document.getElementById("delete").value = "report_edition";
              document.getElementById("kind").value = "note";
              document.getElementById("address_from_coord").value = marker.getPosition().toString().slice(1,-1);       
              document.getElementById("form_edit_report").submit();
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor llena el campor de nota.</span>',4500);
    });
    document.querySelector('#submit_comment_form').addEventListener('click', function() { 
            if (document.getElementById("ucomment").value != "" && document.getElementById("subCat").value != "---"){
              document.getElementById("contents").value = document.getElementById("ucomment").value;
              document.getElementById("delete").value = "report_edition";
              document.getElementById("kind").value = "comment";
              document.getElementById("address_from_coord").value = marker.getPosition().toString().slice(1,-1);       
              document.getElementById("form_edit_report").submit();     
            }else
              Materialize.toast('<span class="toast-warning">¡Oops! Por favor llena el campor de comentarios.</span>',4500);
    });

    document.querySelector('#submit_log_delete').addEventListener('click', function() { 

      var url = document.getElementById('logID_url').value;
      $.ajax({
          url: url,
          type: 'POST',
          data: {'_csrf_token': '{{ csrf_token() }}'},
          success: function(data) { 
              console.log(data)
          }
      }).done(function(data) {
          if (data.status == "deleted successfully"){
            Materialize.toast('<span class="toast-success">El log ha sido eliminado.</span>',4500);
            $('#'+document.getElementById('logID').value).hide();
            $('#modal_log').closeModal();
          }
          else if (data.status == "something went wrong")
            Materialize.toast('<span class="toast-danger">Oops! Algo ha salido, por favor intenta más tarde.</span>',4500);
          else if (data.status == "log not found")
            Materialize.toast('<span class="toast-warning">Oops! Ese log ya ha sido eliminado.</span>',4500);
      });

    });
  </script>
  <script type="text/javascript">
    google.maps.event.addDomListener(window,'load', init);
    var map, center = [25.683956577519417, -100.20524472216799];
    var sublayers = [];
    var geocoder = new google.maps.Geocoder();
    var marker = null;
    var markers = [];
    var reportDict;    

    function getStatus(status){
        //status = (status.innerHTML).trim();
        var ds;
        switch (status) {
            case 'Abierto':
                ds = "open";
                break;
            case 'Spam':
                ds = "spam";
                break;
            case 'En espera':
                ds = "halted";
                break;
            case 'En proceso':
                ds = "working";
                break;
            case 'Asignado':
                ds = "assigned";
                break;
            case 'Rechazado':
                ds = "rejected";
                break;
            case 'Resuelto':
                ds = "solved";
                break;
            case 'Fallo':
                ds = "failed";
                break;
            case 'Archivado':
                ds = "archived";
                break;
            case 'Olvidado':
                ds = "forgot";
                break;
            case 'Respondido':
                ds = "answered";
                break;
        }
        document.getElementById('status').value = ds;
    }    
    function markerFitBounds() {
        var bounds = new google.maps.LatLngBounds();
        for(var i=0,j=markers.length; i<j; i++) {
            bounds.extend( markers[i].getPosition() );
        }
        map.fitBounds(bounds);
    }
        
    function markerDrop (loc) {
        //Marker idea from: http://stackoverflow.com/questions/7095574/google-maps-api-3-custom-marker-color-for-default-dot-marker                 
        if (marker == null){
            marker = new google.maps.Marker({
                      animation: google.maps.Animation.DROP,
              position: loc,
              map: map,
              draggable: true,
              icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|4BAF50'
            });
            google.maps.event.addListener(marker,'dragend',function(event) {
                  geocode(event.latLng);
            });        
        }else{
            marker.setPosition(loc);
        }
    }
    
    function geocode(input) {
          var address, obj;
          if (typeof(input) === 'string') {
              address = document.getElementById('address_'+input).value;
              obj = { 'address': address };
          }else{
              address = input;
              obj = { 'location': address};
          }
          geocoder.geocode( obj, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  if (typeof(input) === 'string') {
                      map.setCenter(results[0].geometry.location);
                      switch (results[0].geometry.location_type){
                          case 'ROOFTOP': map.setZoom(17); break;
                          case 'RANGE_INTERPOLATED': map.setZoom(16); break;
                          case 'GEOMETRIC_CENTER': map.setZoom(15); break;
                          case 'APPROXIMATE': map.setZoom(13); break;
                      }
                      markerDrop(results[0].geometry.location);
                  }else{
                      if (results[1]) {
                          document.getElementById('address_from').value = results[1].formatted_address;
                      } else {
                          alert('No address geocode found');
                      }
                  }
              } else {
                  alert('Geocode unsuccessful: ' + status);
              }
          });
    }   
    
    function fillDd(pKey){
          document.getElementById('subCatbtn').innerHTML='---';
          document.getElementById('subCat').value ='---';
          pKey = (pKey.innerHTML).trim();
          document.getElementById('catGroup').value=pKey;
          document.getElementById('catGroupbtn').innerHTML = pKey;
          
          if ($('#subCatbtn').hasClass('disabled')) $('#subCatbtn').removeClass('disabled');          
          var html='';
          var selectObj = reportDict[pKey]['categories'];
          for (var i=0,j=selectObj.length;i<j;i++){
              html += '<li> <a class="brand-color-text" href="#" onclick="document.getElementById(\'subCatbtn\').innerHTML=this.innerHTML; document.getElementById(\'subCat\').value=(this.innerHTML).trim(); return false;">'+selectObj[i]+'</a></li>';
          }
          document.getElementById('subCatdd').innerHTML = html;        
    }
      
    function init(){
        getgSV();
        getStatus ( document.getElementById('status').value );
        var url = "{{ uri_for('materialize-report-categories') }}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) { 
                console.log(data)
            }
        }).done(function(data) {
            reportDict = data;
            var html='';
            var abcList = [];
            for (var x in reportDict){
                abcList.push(x);
            }
            abcList.sort();
            for (var i=0,j=abcList.length;i<j;i++){
                html += '<li> <a class="brand-color-text" href="#" onclick="fillDd(this);return false;">'+ abcList[i] +'</a></li>';
            }
            document.getElementById('catGroupdd').innerHTML = html;
            if ($('#catGroupbtn').hasClass('disabled')) $('#catGroupbtn').removeClass('disabled');
        });                
      
      var mapOptions = {
        center: new google.maps.LatLng(center[0], center[1]),
        zoom: {% if is_mobile %}10{% else %}12{% endif %},
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL,
          position: google.maps.ControlPosition.LEFT_BOTTOM 
        },
        mapTypeControl: true,
        mapTypeControlOptions: { 
          mapTypeIds: [google.maps.MapTypeId.ROADMAP,google.maps.MapTypeId.SATELLITE]
        },
        scrollwheel: true,
        streetViewControl: true,
        StreetViewControlOptions: {
          position: google.maps.ControlPosition.BOTTOM_LEFT
        },
        panControl:false,
        backgroundColor: 'rgb(249, 249, 249)',
        rotateControl:true,
        overviewMapControl:true
      };
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
                            
        var layerSource = {
              user_name: 'gpegobmx',
              type: 'cartodb',
              sublayers: [{
                  sql: "SELECT mun_poly.* FROM mun_poly WHERE mun_poly.name IN ('GPE')",
                  cartocss: "#mun_poly{polygon-fill: #FF6600;polygon-opacity: 0.1;line-color: #EB332C;line-width: 1;line-opacity: 1;}"                                
              }]
          };
          cartodb.createLayer(map,layerSource)
          .on('done', function(layer) {
          map.overlayMapTypes.setAt(0, layer);
              for (var i = 0; i < layer.getSubLayerCount(); i++) {
                 sublayers[i] = layer.getSubLayer(i);
                 console.log("Congrats, you added sublayer #" + i + "!");
              }
          })
          .error(function(err) {
              console.log("error: " + err);
          });    

      var address_from = document.getElementById('address_from');
      var autocomplete_from = new google.maps.places.Autocomplete(address_from);
      autocomplete_from.bindTo('bounds', map);
      
      google.maps.event.addListener(autocomplete_from, 'place_changed', function() {
          var place = autocomplete_from.getPlace();
          if (!place.geometry) {
                    return;
          }
          if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                    markerDrop(place.geometry.location);
          }else{
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                    markerDrop(place.geometry.location);
          }
      });                                       
        
      google.maps.event.addDomListener(window, 'resize', function() {
                setTimeout(function() {
                    map.panTo({lat: center[0], lng: center[1]});
                }, 400);                            
          });
                
      google.maps.event.addListener(map, 'click', function(event) {
              markerDrop(event.latLng);
              geocode(event.latLng);
          });
                
        if(document.getElementById('address_from_coord').value){
            var coof = document.getElementById('address_from_coord').value.split(',').map(Number);
            var latlng = new google.maps.LatLng(coof[0],coof[1]);
            markerDrop (latlng);
            map.setCenter(latlng);
        }         
    }

    var panorama, sv = new google.maps.StreetViewService();
    function getgSV() {
        if(document.getElementById('address_from_coord').value){
            var coof = document.getElementById('address_from_coord').value.split(',').map(Number);
            var loc = new google.maps.LatLng(coof[0],coof[1]);
            sv.getPanoramaByLocation(loc, 50, function(data, status) {
                if (status == google.maps.StreetViewStatus.OK) {
                    $('#gSV').html("<div id='gSVpanorama' style='height: 300px;overflow: hidden;-webkit-transform: translateZ(0px); background-color:#4EC8BC'></div>");
                    panorama = new google.maps.StreetViewPanorama(
                        document.getElementById('gSVpanorama'), {
                            position: loc,
                            addressControlOptions: {
                              position: google.maps.ControlPosition.BOTTOM_CENTER
                            },
                            linksControl: false,
                            panControl: false,
                            enableCloseButton: true,
                            scrollwheel: false,
                            zoomControl: false,
                            fullScreenControl: false
                        }
                    );
                    console.log('sv available');
                    return true;
                }
                else{
                    console.log('sv unavailable');
                    $('#gSV').html('<img class="responsive-img" src="https://www.mikepero.com/static/img/no-photo.png" style="max-height: 245px;">');
                    return false;
                }
            });
        }
        else{
            $('#gSV').html('<img class="responsive-img" src="https://www.mikepero.com/static/img/no-photo.png" style="max-height: 245px;">');
        }
        return false;
    }

    function urgentCall(repID){
        $.ajax({
            url: "{{ uri_for('materialize-report-urgent') }}",
            type: 'POST',
            data: { 
                'report_id': repID,
                '_csrf_token': '{{ csrf_token() }}',
            }
        }).done(function(data) {
            console.log('urgentCall response', data);
            var btn_top = document.getElementById('urgent_top');
            var btn_bottom = document.getElementById('urgent_bottom');
            var btn_marker = document.getElementById('urgent_marker');

            if (data.status == 'success'){
                Materialize.toast('<span class="toast-success">Gracias, tus cambios han sido almacenados.</span>',3000);
                if (data.is_urgent){
                    btn_top.className = "btn deep-orange darken-2";
                    btn_bottom.className = "btn deep-orange darken-2";
                    btn_marker.style.display = "inline";
                    btn_top.innerHTML = '<i class="mdi-av-new-releases right"></i>Remover urgencia';
                    btn_bottom.innerHTML = '<i class="mdi-av-new-releases right"></i>Remover urgencia';
                }else{
                    btn_top.className = "btn white deep-orange-text text-darken-2";
                    btn_bottom.className = "btn white deep-orange-text text-darken-2";
                    btn_marker.style.display = "none";
                    btn_top.innerHTML = '<i class="mdi-av-new-releases right"></i>Marcar urgente';
                    btn_bottom.innerHTML = '<i class="mdi-av-new-releases right"></i>Marcar urgente';
                }
            }
            else if (data.status == 'error'){
                Materialize.toast('<span class="toast-danger">Oops! Ha ocurrido un error, intenta más tarde.</span>',3000);
            }
        });
    }
  </script>
{% endblock %}
