{% extends 'admin_base.html' %}

{% block page_css %}
<style type="text/css">
    td {
        padding: 3px!important;
        padding-top:7px!important;
    }

    thead {
        border-bottom: 1px dotted rgba(37, 50, 56, 0.1)!important;
    }
    select {
        display: block!important;
    }
    .dataTables_length{
        display: none!important;
      }
    .ui-helper-hidden-accessible{
      display: none!important;
    }
    .color-box {
        width: 10px;
        height: 10px;
        display: inline-block;
        left: 5px;
        top: 5px;
    }
</style>
  <link href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block breadcrums %}
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3" style="  min-height: 70px;">
    <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <ol class="breadcrumb" style="font-size: 29px;">
                <li class="active">Categorías </li>
                <a class="btn waves-effect waves-light right brand-color white-text modal-trigger" href="#modal1" style="font-size: 18px;">Agregar<i class="mdi-action-note-add left"></i></a>
            </ol>
          </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}



{% block page_content %}
    <div class="container">
      <div class="section">
       <div class="row" style="margin-top:30px">
            <table id="data-table-simple" class="responsive-table hoverable centered display">
                <thead style="font-family:roboto; color:#777777;">
                  <tr class="brand-color white-text">
                      <th>✎</th>
                      <th>Categoría</th>
                      <th>Color</th>
                      <th>Marker</th>
                      <th>Subcategorías</th>
                  </tr>
                </thead>
                <tbody id="report_table" style="font-family:roboto-light;">
                    {% for group in groups %}
                      <tr>
                          <td>
                              <div>    
                                  <a class="icon" href="{{ uri_for('admin-category-edit', group_id=group.get_id()) }}" >Editar o agregar subcategorías</a>
                              </div>
                          </td>
                          <td>{{group.name}}</td>
                          <td><div class="color-box" style="background-color: #{{group.color}};"></div>#{{group.color}}</td>
                          <td><img src="{{group.icon_url}}"></td>
                          <td>{{group.get_subcategories_count()}}</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>



<div id="modal1" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
  <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
  <div class="modal-content">
    <form id="form_add" action="{{ url|safe }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Agrega un nuevo grupo de categorías llenando la siguiente forma</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-group-work prefix brand-color-text"></i>
            <input id="name" name="name" type="text">
            <label for="name" class="center-align">Nombre del grupo de categorías</label>
          </div>
        </div>
        <div class="row margin">
            <i class="mdi-image-colorize left brand-color-text" style="margin-left: 22px;"></i>
            <p class="grey-text">Haz clic en el recuadro y selecciona un color</p>
            <input id="color" name="color" type="color" style="    height: 45px;" value="#4EC8BC">
        </div>  
        <div class="row">
          <div class="input-field col s12">
            <a class="btn-large waves-effect waves-light col s12 brand-color white-text" style="cursor:pointer;" onclick="sendForm('form_add');">Agregar</a>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}


{% block page_floatings %}
{% endblock %}


{% block page_scripts %}
<script src="/{{ theme }}/materialize/js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  
    function sendForm(form){
      document.getElementById('name').value = cleanUpSpecialChars(document.getElementById('name').value);
      if (document.getElementById('name').value==""){
         Materialize.toast('<span class="toast-warning">Oops! Llena el campo de nombre por favor.</span>',4500);
      }else if(document.getElementById('color').value==""){
         Materialize.toast('<span class="toast-warning">Oops! Llena el campo de color por favor.</span>',4500);
      }else{
        document.getElementById(form).submit();  
      }
    }

    $('#data-table-simple').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: true,
            "lengthMenu": [[250], [250]],
            "language": {
              "lengthMenu": "Mostrar _MENU_ categorías por página",
              "search": "Buscar:",
              "zeroRecords": "Ningún reporte encontrado",
              "info": "Mostrando _START_ a _END_ de _TOTAL_ categorías",
              "infoFiltered": "(filtrando sobre _MAX_ categorías)",
              "paginate": {
                  "first":      "Inicio",
                  "last":       "Final",
                  "next":       "Siguiente",
                  "previous":   "Previo"
              }
            }
        } );


</script>
{% endblock %}
