{% import 'admin_macros.html' as lib with context %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ locale_language_id }}"> <!--<![endif]-->


{% block document_head %}
    <head>
        {% block title %}<title>Admin - {{app_name}}</title>{% endblock %}

        <!-- All meta tags from config files -->
        {% block metadata %}
            {{ meta_tags_code }}
        {% endblock %}

        {% block favicons %}
            <link rel="icon" href="{{brand_favicon}}">
            {% if is_mobile %}
                <!-- For iPhone -->
                <link rel="apple-touch-icon-precomposed" href="{{brand_favicon}}">
                <!-- For Windows Phone -->
                <meta name="msapplication-TileColor" content="#00bcd4">
                <meta name="msapplication-TileImage" content="{{brand_favicon}}">
            {% endif %}
        {% endblock %}

        <!-- All stylesheets   -->
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="/{{theme}}/materialize/css/materialize.css?v=10" type="text/css" rel="stylesheet" media="screen,projection">            
            <link href="/{{theme}}/materialize/css/plugins/perfect-scrollbar/perfect-scrollbar.css?v=10" type="text/css" rel="stylesheet" media="screen,projection">            
            <link href="/{{theme}}/materialize/css/style.css?v=10" type="text/css" rel="stylesheet" media="screen,projection">
            <style type="text/css">
                .toast {background-color: white!important;}
                .toast-success{ color: {{brand_color}}!important; line-height: 18px;}
                .toast-danger{ color: #CE1212!important; line-height: 18px;}
                .toast-warning{ color: #CEB029!important; line-height: 18px;}
                .toast-info{ color: #2095CB!important; line-height: 18px;}
                @-webkit-keyframes pulsate {
                    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
                    50% {opacity: 1.0;}
                    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
                }

                .icon-block {
                  padding: 0 15px;
                }
                .icon-block .material-icons {
                  font-size: inherit;
                }
                .g-recaptcha{
                      margin-left: 23%;
                      -webkit-transform: scale(0.8);
                      transform: scale(0.8);
                }
                .pager{
                      padding-left: 0;
                      margin: 20px 0;
                      text-align: center;
                      list-style: none;
                }
                .pager:before{
                    display: table;
                    content: " ";
                    box-sizing: border-box;
                }
                .pager li{
                    display: inline;
                }
                .pager li>a, .pager li>span{
                    display: inline-block;
                    padding: 5px 14px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-radius: 15px;
                }
                .pager:after{
                    clear: both;
                    content: " ";
                    box-sizing: border-box;
                }

                
                li .active{
                    background-color: rgba(0, 0, 0, 0.05)!important;
                }
                li .active a{
                    color:#444!important;
                }

                /*BRANDING*/
                .brand-color{
                    background-color: {{brand_color}}!important;
                }
                .brand-color-text{
                    color:{{brand_color}}!important;
                }
                .brand-secondary-color{
                    background-color: {{brand_secondary_color}}!important;
                }
                .brand-secondary-color-text{
                    color:{{brand_secondary_color}}!important;
                }
                .brand-tertiary-color{
                    background-color: {{brand_tertiary_color}}!important;
                }
                .brand-tertiary-color-text{
                    color:{{brand_tertiary_color}}!important;
                }
                .btn{
                    background-color: {{brand_color}};
                    font-family: roboto-light;
                }
                .btn:hover{
                    background-color: {{brand_secondary_color}}!important;
                    color:white!important;
                }
                .btn-large{
                    background-color: {{brand_color}};
                    font-family: roboto-light;
                }
                .btn-large:hover{
                    background-color: {{brand_secondary_color}}!important;
                }
                .btn-floating{
                    background-color: {{brand_color}};
                }
                .btn-floating:hover{
                    background-color: {{brand_secondary_color}}!important;
                }
                {% if is_mobile %}
                .btn{
                    margin-top:15px;
                }
                .btn-large{
                    margin-top:15px;
                }
                .modal{
                    max-height: 90%!important;
                    width: 95%!important;
                    top:5%!important;
                }
                {% endif %} 
                #loader {
                  border-top-color: {{brand_color}}!important;
                }
                #loader:before {
                  border-top-color: {{brand_secondary_color}}!important;
                }
                #loader:after {
                  border-top-color: {{brand_tertiary_color}}!important;
                }
                [type=checkbox].filled-in:checked+label:after{
                    border: 2px solid {{brand_secondary_color}}!important;
                    background-color: {{brand_secondary_color}}!important;
                }
                .dataTables_scrollBody {
                    min-height: 200px;
                }
                table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before {
                        top: 50%!important;
                        left: 48%!important;
                        height: 16px!important;
                        width: 16px!important;
                        margin-top: -10px!important;
                        margin-left: -10px!important;
                        display: block!important;
                        position: absolute!important;
                        color: white!important;
                        border: 2px solid white!important;
                        border-radius: 14px!important;
                        box-shadow: 0 0 3px #444!important;
                        box-sizing: content-box!important;
                        text-align: center!important;
                        font-family: 'Courier New', Courier, monospace!important;
                        line-height: 18px!important;
                        content: '+'!important;
                        background-color: {{brand_secondary_color}}!important;
                }
                .side-nav .collapsible-body li a {
                    margin: 0 1rem 0 2rem;
                }

                ol{
                    list-style-type: none!important;
                }

                .breadcrumb:last-child {
                    color: {{brand_color}}!important;
                    font-family: roboto-thin;
                }
                
                .breadcrumb li a {
                    color: {{brand_secondary_color}};
                    font-family: roboto-light;
                }

                .breadcrumb{
                    height: 15px;
                    margin-top: 15px;
                }

                .dropdown-content li > a, .dropdown-content li > span{
                    color: {{brand_secondary_color}}!important;
                }
                                
                .picker__day--selected{
                    background-color: {{brand_color}}!important;
                }

                .picker__date-display{
                    background-color: {{brand_color}}!important;
                }

                .picker__weekday-display{
                    background-color: {{brand_color}}!important;
                }
                
                .picker__close, .picker__today{
                    color: {{brand_color}}!important;
                }

                .cartodb-logo{
                    display: none!important;
                }
             
            </style>
            {% block page_css %}{% endblock %}
            {% if user_id %}
                {{ zendesk_imports }}
            {% endif %}
        {% endblock %}

        <!-- All google, mixpanel and analytics tags from config files. -->
        {% block analytics %}{{ google_analytics_code }}{% endblock %}
        
        <!-- All JavaScript at the bottom, except these. -->
        {% block priority_js %}
            <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
        {% endblock %}

        <!--  POLYMER   -->
        {% block webcomponents %}
            {% block page_components %}{% endblock %}
        {% endblock %} 

    </head>
{% endblock %}

{% block document_body %}
    <body>
        {% block loader %}
            <!-- Start Page Loading -->
            <div id="loader-wrapper">
                <div id="loader"></div>        
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
            <!-- End Page Loading -->
        {% endblock %}

        {% block header %}
            <!-- START HEADER -->
            <header id="header" class="page-topbar">
                <!-- start header nav-->
                <div class="navbar-fixed">
                    <nav class="white">
                        <div class="nav-wrapper">
                            <a href="{{uri_for("admin")}}" class="brand-logo">
                                <img src="{% if is_mobile %}{{brand_favicon}}{% else %}{{brand_logo}}{% endif %}" style="margin-top:3px; {% if is_mobile %}margin-left:4px; height:50px; {% else %}margin-left:5px; height:60px; {% endif %}">
                                <div id="main-preloader" class="preloader-wrapper small active right" style="display: none;margin-top:12px;margin-left:12px;">
                                  <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>

                                  <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>

                                  <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>

                                  <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                      <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>
                                </div>
                            </a>
                            
                            <ul class="right hide-on-med-and-down">
                                <!-- <li><a href="{{uri_for('admin-electoral')}}" class="waves-effect waves-block waves-light grey-text text-ligthen-1" target="_blank"><i class="mdi-social-public left"></i>Análisis Geoestadístico</a>
                                </li> -->
                                <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen grey-text text-ligthen-1"><i class="mdi-action-settings-overscan left"></i>Ver pantalla completa</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- end header nav-->
            </header>
            <!-- END HEADER -->
        {% endblock %}


        {% block main %}
            <!-- START MAIN -->
            <div id="main">
                {% block wrapper %}
                    <!-- START WRAPPER -->
                    <div class="wrapper">                                               

                        {% block sidebar_left %}
                            <!-- START LEFT SIDEBAR NAV-->
                            <aside id="left-sidebar-nav">
                                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                                    <li class="user-details brand-color">
                                        <div class="row">
                                            <div class="col col s12" style="    margin-bottom: 15px;">
                                                <a class="btn-flat waves-effect waves-light white-text profile-btn truncate">{{nickname}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="no-padding" style="margin-bottom: 15px;">
                                        <ul class="collapsible collapsible-accordion">
                                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if uri_for('admin-categories') in path or uri_for('admin-topics') in path or uri_for('admin-organization') in path or uri_for('admin-callcenter') in path or uri_for('admin-brand') in path or uri_for('admin-areas') in path or uri_for('admin-configuration') in path %}active{% endif %}"><i class="mdi-action-settings-applications grey-text left"></i>Configuración</a>
                                               <div class="collapsible-body">
                                                    <ul>
                                                {% if nickname == 'chuycepeda@gmail.com' or nickname == 'jesus.delbosque@gmail.com' %}
                                                        <li {% if uri_for('admin-configuration') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-configuration') }}"><em>Parámetros de plataforma</em></a></li>
                                                {% endif %}
                                                        <li {% if uri_for('admin-brand') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-brand') }}">Marca</a></li>
                                                {% if has_reports %}
                                                        <li {% if uri_for('admin-categories') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-categories') }}">Reportes</a></li>
                                                {% endif %}
                                                {% if has_petitions %}
                                                        <li {% if uri_for('admin-topics') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-topics') }}">Propuestas</a></li>
                                                {% endif%}
                                                {% if has_transparency %}
                                                        <li {% if uri_for('admin-areas') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-areas') }}">Compromisos</a></li>
                                                {% endif %}
                                                {% if has_urbanism %}
                                                        <li {% if uri_for('admin-urbanism') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-urbanism') }}">Urbanismo</a></li>
                                                {% endif %}
                                                {% if has_reports %}
                                                        <li {% if uri_for('admin-organization') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-organization') }}">Organización y enlaces</a></li>
                                                {% endif %}
                                                {% if has_reports or has_transparency or has_urbanism %}
                                                        <li {% if uri_for('admin-callcenter') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-callcenter') }}">Tu plantel</a></li>
                                                {% endif %}
                                                    </ul>
                                               </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li> 


                                    <!-- <li class="no-padding" style="margin-bottom: 15px;margin-top: 15px;">
                                        <ul class="collapsible collapsible-accordion">
                                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if path == uri_for('admin-map') or uri_for('admin-reports') in path or uri_for('admin-petitions') in path or uri_for('admin-initiatives') in path or uri_for('admin-geom') in path %}active{% endif %}"><i class="mdi-action-assignment grey-text left"></i>Gestión</a>
                                               <div class="collapsible-body">
                                                    <ul>
                                                    {% if has_reports %}
                                                        <li {% if uri_for('admin-reports') in path or path == uri_for('admin-map') %}class="active"{% endif %}><a href="{{ uri_for('admin-reports') }}">Reportes</a></li>
                                                    {% endif %}
                                                    {% if has_petitions %}
                                                        <li {% if uri_for('admin-petitions') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-petitions') }}">Propuestas</a></li>
                                                    {% endif %}
                                                    {% if has_transparency %}
                                                        <li {% if uri_for('admin-initiatives') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-initiatives') }}">Compromisos</a></li>
                                                        <li {% if uri_for('admin-geom') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-geom') }}">Transparencia de obras</a></li>
                                                    {% endif %}

                                                    </ul>
                                               </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li>    -->                                 

                                    <!-- <li class="no-padding" style="margin-bottom: 15px;margin-top: 15px;">
                                        <ul class="collapsible collapsible-accordion">
                                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if path == uri_for('admin-stats-reports') or path == uri_for('admin-stats-organization') %}active{% endif %}"><i class="mdi-action-assessment grey-text left"></i>Estadísticas</a>
                                               <div class="collapsible-body">
                                                    <ul>
                                                    {% if has_reports %}
                                                        <li {% if path == uri_for('admin-stats-reports') %}class="active"{% endif %}><a href="{{ uri_for('admin-stats-reports') }}">Reportes</a></li>
                                                        <li {% if path == uri_for('admin-stats-organization') %}class="active"{% endif %}><a href="{{ uri_for('admin-stats-organization') }}">Desempeño</a></li>
                                                    {% endif %}
                                                    </ul>
                                               </div>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li> -->

                                    <li class="no-padding" style="margin-bottom: 15px;margin-top: 15px;">
                                        <ul class="collapsible collapsible-accordion">
                                            
                                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if uri_for('admin-users-list') in path or uri_for('admin-logs-emails') in path or uri_for('admin-logs-visits') in path %}active{% endif %}"><i class="mdi-action-favorite-outline grey-text left"></i>Uso de la plataforma</a>
                                               <div class="collapsible-body">
                                                    <ul>
                                                       <li {% if uri_for('admin-users-list') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-users-list') }}">Usuarios</a></li>
                                                       <li {% if uri_for('admin-logs-visits') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-logs-visits') }}">Visitas</a></li>
                                                       <li {% if uri_for('admin-logs-emails') in path %}class="active"{% endif %}><a href="{{ uri_for('admin-logs-emails') }}">Correos</a></li>
                                                    </ul>
                                               </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="li-hover"><div class="divider" style="  padding: 2px;"></div></li>

                                    <li class="no-padding" style="margin-bottom: 15px;margin-top: 15px;">
                                        <ul class="collapsible collapsible-accordion">
                                            
                                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan {% if path == uri_for('admin-send-email') or path == uri_for('admin-manual') %}active{% endif %}"><i class="mdi-navigation-more-vert grey-text left"></i>Otros</a>
                                               <div class="collapsible-body">
                                                    <ul>
                                                       <li {% if path == uri_for('admin-send-email') %}class="active"{% endif %}><a href="{{ uri_for('admin-send-email') }}">Enviar un correo</a></li>
                                                        <li {% if path == uri_for('admin-manual') %}class="active"{% endif %}><a href="{{ uri_for('admin-manual') }}">Manual de administrador</a></li>
                                                        <li><a href="/" target="_blank">Ir al sitio</a></li>
                                                        <li><a href="{{ uri_for('admin-logout') }}">Salir</a></li>
                                                    </ul>
                                               </div>
                                            </li>
                                        </ul>
                                    </li>

                                    

                                    <!-- <li {% if path == uri_for('admin-blog') %}class="active"{% endif %}><a href="{{ uri_for('admin-blog') }}">Blog posts</a></li>
                                    <li class="no-padding">
                                        <ul class="collapsible collapsible-accordion">
                                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan">Herramientas</a>
                                                <div class="collapsible-body">
                                                    <ul>
                                                        <li><a href="{{ uri_for("admin-tools-css") }}">Grid y colores</a></li>  
                                                        <li><a href="{{ uri_for("admin-tools-icons") }}">Iconos</a></li>  
                                                        <li><a href="{{ uri_for("admin-tools-media") }}">Media</a></li>  
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li> -->
                                    
                                </ul>
                                <!-- <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating waves-effect waves-light hide-on-large-only darken-2" style="margin-top:-5px;"><i class="mdi-navigation-more-vert" style="color: rgb(62, 193, 251);background-color: white;" ></i></a> -->

                                <a href="#" data-activates="slide-out" class="sidebar-collapse hide-on-large-only waves-effect waves-light" style="top:-40px;float:right!important"><i class="mdi-navigation-more-vert brand-color-text" style="font-size: 30px;margin-top: -12px;"></i></a>
                            </aside>
                            <!-- END LEFT SIDEBAR NAV-->
                        {% endblock %}
                        
                        {% block disclaimers %}
                            {% if disclaim %}
                                <style type="text/css">
                                    .disclaimer{margin-bottom: 0px;width: 101%;height: auto;left: 0px;text-align: center;z-index: 9999;background: rgb(205, 55, 53);color: white;font-size: 14px;font-family: roboto-thin;letter-spacing: 1.5px; padding:10px;cursor: pointer;border-bottom: 1px solid rgb(240, 240, 240);}
                                </style>
                                {% if disclaim_type == 1 %}
                                    <div id="disclaimer" class="row disclaimer" onclick="window.open('{{ uri_for("landing") }}', '_top')"> 
                                         <span class="glyphicon-exclamation-sign glyphicon"></span>
                                         <span>This is a warning disclaimer, </span> 
                                         <span style="text-decoration: underline; font-family: roboto-regular;">it's actually actionable</span>!   
                                         <i onclick="$('#disclaimer').hide();" class="mdi-navigation-close right white-text "></i>    
                                    </div>
                                {% else %}                             
                                    <div id="disclaimer" class="row disclaimer light-blue lighten-2"> 
                                         <span class="glyphicon-exclamation-sign glyphicon"></span>
                                         <span>Hey what about uploading a profile picture? </span> 
                                         <span onclick="window.open('{{ uri_for("materialize-settings-profile") }}', '_top')" style="text-decoration: underline; font-family: roboto-regular;">just click here</span>.  
                                         <i onclick="$('#disclaimer').hide();" class="mdi-navigation-close right white-text "></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endblock %}  
                        <!-- //////////////////////////////////////////////////////////////////////////// -->

                        {% block content %}
                            <!-- START CONTENT -->
                            <section id="content">

                                {% block breadcrums %}
                                {% endblock %}
                                
                                <!--start container-->
                                <div class="container">
                                    {% block page_content %}

                                        <div class="section">
                                            <div class="container" style="margin-top:-60px">
                                                <div style="margin-bottom: 60px;">
                                                    <div class="section no-pad-bot">
                                                      <div class="container">
                                                        <h2 class="header center brand-color-text flow-text" style="margin-top:85px;">¡Hola {{nickname}}!</h2>        
                                                        <h3 class="center col s12 m7 offset-m1 grey-text" style="font-weight: 200">¿Qué tal tu <span id="today"></span>, listo para administrar tu plataforma?</h3>
                                                      </div>
                                                    </div>
                                                </div>
                                                {% if has_reports %}
                                                <div class="row">
                                                    <div class="center col s12 m6 offset-m1">
                                                        <h3 class="brand-secondary-color-text" style="font-weight: 400">Reportes</h3>
                                                        <h3 class="grey-text" style="font-weight: 200; line-height: 45px;">Administra reportes y solicitudes de apoyo para brindar soluciones.</h3>
                                                    </div>
                                                    <div class="col card-panel s12 m2 offset-m1 white center create hoverable" style="padding-top: 30px;padding-bottom: 60px;cursor: pointer;" onclick='window.location = "{{uri_for('admin-categories')}}";'>
                                                      <h2 class="grey-text"><i class="mdi-maps-place" style="font-size:34px"></i></h2>
                                                      <h5 class="brand-color-text" style="font-family: roboto-thin;">Configurar<br>reportes</h5>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if has_petitions %}
                                                <div class="row"><div class="divider col s12 m10 offset-m1" style="margin-bottom:20px;"></div></div>
                                                <div class="row">
                                                    <div class="center col s12 m6 offset-m1">
                                                        <h3 class="brand-secondary-color-text" style="font-weight: 400">Propuestas</h3>
                                                        <h3 class="grey-text" style="font-weight: 200; line-height: 45px;">Administra las propuestas y brinda respuestas.</h3>
                                                    </div>
                                                    <div class="col card-panel s12 m2 offset-m1 white center create hoverable" style="padding-top: 30px;padding-bottom: 60px;cursor: pointer;" onclick='window.location = "{{uri_for('admin-topics')}}";'>
                                                      <h2 class="grey-text"><i class="mdi-image-wb-incandescent" style="font-size:34px"></i></h2>
                                                      <h5 class="brand-color-text" style="font-family: roboto-thin;">Configurar<br>propuestas</h5>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if has_transparency %}
                                                <div class="row"><div class="divider col s12 m10 offset-m1" style="margin-bottom:20px;"></div></div>
                                                <div class="row">
                                                    <div class="center col s12 m6 offset-m1">
                                                        <h3 class="brand-secondary-color-text" style="font-weight: 400">Compromisos</h3>
                                                        <h3 class="grey-text" style="font-weight: 200; line-height: 45px;">Administra el progreso de los compromisos oficiales.</h3>
                                                    </div>
                                                    <div class="col card-panel s12 m2 offset-m1 white center create hoverable" style="padding-top: 30px;padding-bottom: 60px;cursor: pointer;" onclick='window.location = "{{uri_for('admin-areas')}}";'>
                                                      <h2 class="grey-text"><i class="mdi-action-visibility" style="font-size:34px"></i></h2>
                                                      <h5 class="brand-color-text" style="font-family: roboto-thin;">Configurar<br>compromisos</h5>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if has_urbanism %}
                                                <div class="row"><div class="divider col s12 m10 offset-m1" style="margin-bottom:20px;"></div></div>
                                                <div class="row">
                                                    <div class="center col s12 m6 offset-m1">
                                                        <h3 class="brand-secondary-color-text" style="font-weight: 400">Urbanismo</h3>
                                                        <h3 class="grey-text" style="font-weight: 200; line-height: 45px;">Administra los temas de interés urbano.</h3>
                                                    </div>
                                                    <div class="col card-panel s12 m2 offset-m1 white center create hoverable" style="padding-top: 30px;padding-bottom: 60px;cursor: pointer;" onclick='window.location = "{{uri_for('admin-urbanism')}}";'>
                                                      <h2 class="grey-text"><i class="mdi-image-nature-people" style="font-size:34px"></i></h2>
                                                      <h5 class="brand-color-text" style="font-family: roboto-thin;">Configurar<br>temas</h5>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>



                                    {% endblock %}

                                    {% block page_floatings %}
                                        <!-- Floating Action Button -->
                                        <div class="fixed-action-btn" style="display:none; bottom: 45px; right: 24px;">
                                            <a class="btn-floating btn-large red">
                                              <i class="large mdi-editor-mode-edit"></i>
                                            </a>
                                            <ul>
                                              <li><a href="#" id="zen_alias" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                                              <li><a href="#" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                                              <li><a href="#" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                                              <li><a href="#" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- Floating Action Button -->
                                    {% endblock %}

                                </div>
                                <!--end container-->
                            </section>
                            <!-- END CONTENT -->
                        {% endblock %}

                        <!-- //////////////////////////////////////////////////////////////////////////// -->

                        {% block sidebar_right %}
                            <!-- START RIGHT SIDEBAR NAV-->
                            <aside id="right-sidebar-nav">
                                <ul id="chat-out" class="side-nav rightside-navigation">
                                    <li class="li-hover">
                                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                                    <div id="right-search" class="row">
                                        <form class="col s12">
                                            <div class="input-field">
                                                <i class="mdi-action-search prefix"></i>
                                                <input id="icon_prefix" type="text" class="validate">
                                                <label for="icon_prefix">Search</label>
                                            </div>
                                        </form>
                                    </div>
                                    </li>
                                </ul>
                            </aside>
                            <!-- END RIGHT SIDEBAR NAV-->
                        {% endblock %}

                    </div>
                    <!-- END WRAPPER -->
                {% endblock %}
            </div>
            <!-- END MAIN -->
        {% endblock %}


        {% block footer %}
            <!-- START FOOTER -->
            <footer class="page-footer ">
                {% block page_footer %}{% endblock %}
                <div class="footer-copyright white grey-text text-lighten-2">
                    <div class="container">
                        <div class="container" style="text-align:right;" data-position="top" data-delay="50" data-tooltip="You should try the Konami-code"><i class="mdi-image-flash-on brand-secondary-color-text" style="font-size: 15px;margin-left: 3px;-webkit-animation: pulsate 3s ease-out; -webkit-animation-iteration-count: infinite;"></i> by <a class="brand-secondary-color-text" href="http://www.onesmart.city" target="_blank">OneSmart.City</a>.
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        {% endblock %}

        <!-- All Scripts start here -->
        {% block scripts %}
            <!-- jQuery Library -->
            <script type="text/javascript" src="/{{theme}}/materialize/js/jquery-1.11.2.min.js"></script>
            <!--materialize js-->
            <script type="text/javascript" src="/{{theme}}/materialize/js/materialize.js?v=10"></script>
            <!--scrollbar-->
            <script type="text/javascript" src="/{{theme}}/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <!--plugins.js - Some Specific JS codes for Plugin Settings-->
            <script type="text/javascript" src="/{{theme}}/materialize/js/plugins.js?v=11"></script>
            <!-- Toast Notification -->
            {% if messages|safe %}              
                {% for message in messages %}
                    <script type="text/javascript">
                        var resendIndex = 0 ;
                        var _text = "{{ message[0]|safe }}";
                        var _textAdditionals = "";
                        resendIndex = _text.search('resend');
                        if ( resendIndex > 0 ){
                            //this is the case when resend-activation-link is sent
                            // 1: Add this text as html to toast additionals
                            _textAdditionals = '<a class="toast-warning" href="/'+_text.substr(resendIndex).replace(/ /g,'/')+'/">Clic here if you need us to resend activation link. Previous link will be forgotten.</a>';
                            // 2: Trim this text from toast
                            _text = _text.substr(0, resendIndex-1);                         
                        }
                        var _msg = '<span class="toast-{{ message[1]|safe }}">'+_text+'</span>';
                        Materialize.toast(_msg, 4500);
                        if (_textAdditionals != "") Materialize.toast(_textAdditionals, 10000);
                    </script>
                {% endfor %}
            {% endif %} 

            {%if not is_mobile%}
	            {% block raptor %}
				<script src="https://hammerjs.github.io/dist/hammer.js"></script>
				<script src="/{{ theme }}/materialize/js/plugins/raptor/raptor.js?v=5"></script>
				<script type="text/javascript">
					$(window).load(function() {
						$('body').raptorize({
							'enterOn' : 'konami-code'
						});
					});
				</script>
                {% endblock %}
	        {%endif%}
            
            {% block onload_methods %}
                <script>
                    var is_Safari = false, not_Chrome = false;

                    (function(){
                        var BrowserDetect = {
                                init: function() {
                                    this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
                                    this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "an unknown version";
                                    this.OS = this.searchString(this.dataOS) || "an unknown OS";
                                    console.log("Detected " + this.browser + " v." + this.version + " running {{app_name}} in a " + this.OS);
                                    if (this.browser != 'Chrome' && this.browser.indexOf('Safari') == -1 && this.browser.indexOf('iPhone') == -1 && this.browser != 'Firefox') {
                                        alert("Lo sentimos, esta plataforma está diseñada para navegadores distintos al tuyo..");
                                    }
                                    else if (this.browser.indexOf("Safari") != -1)
                                        is_Safari = true;
                                    else if (this.browser.indexOf("Chrome") == -1)
                                        not_Chrome = true;

                                    setTimeout(function(){ 
                                        if (not_Chrome || is_Safari){
                                           $(".input-field label").addClass("active");
                                        }
                                    }, 500);
                                },
                                searchString: function(data) {
                                    for (var i = 0; i < data.length; i++) {
                                        var dataString = data[i].string;
                                        var dataProp = data[i].prop;
                                        this.versionSearchString = data[i].versionSearch || data[i].identity;
                                        if (dataString) {
                                            if (dataString.indexOf(data[i].subString) != -1) return data[i].identity;
                                        } else if (dataProp) return data[i].identity;
                                    }
                                },
                                searchVersion: function(dataString) {
                                    var index = dataString.indexOf(this.versionSearchString);
                                    if (index == -1) return;
                                    return parseFloat(dataString.substring(index + this.versionSearchString.length + 1));
                                },
                                dataBrowser: [{
                                    string: navigator.userAgent,
                                    subString: "Chrome",
                                    identity: "Chrome"
                                }, {
                                    string: navigator.userAgent,
                                    subString: "OmniWeb",
                                    versionSearch: "OmniWeb/",
                                    identity: "OmniWeb"
                                }, {
                                    string: navigator.vendor,
                                    subString: "Apple",
                                    identity: "Safari",
                                    versionSearch: "Version"
                                }, {
                                    prop: window.opera,
                                    identity: "Opera",
                                    versionSearch: "Version"
                                }, {
                                    string: navigator.vendor,
                                    subString: "iCab",
                                    identity: "iCab"
                                }, {
                                    string: navigator.vendor,
                                    subString: "KDE",
                                    identity: "Konqueror"
                                }, {
                                    string: navigator.userAgent,
                                    subString: "Firefox",
                                    identity: "Firefox"
                                }, {
                                    string: navigator.vendor,
                                    subString: "Camino",
                                    identity: "Camino"
                                }, { // for newer Netscapes (6+)
                                    string: navigator.userAgent,
                                    subString: "Netscape",
                                    identity: "Netscape"
                                }, {
                                    string: navigator.userAgent,
                                    subString: "MSIE",
                                    identity: "Explorer",
                                    versionSearch: "MSIE"
                                }, {
                                    string: navigator.userAgent,
                                    subString: "Gecko",
                                    identity: "Mozilla",
                                    versionSearch: "rv"
                                }, { // for older Netscapes (4-)
                                    string: navigator.userAgent,
                                    subString: "Mozilla",
                                    identity: "Netscape",
                                    versionSearch: "Mozilla"
                                }],
                                dataOS: [{
                                    string: navigator.platform,
                                    subString: "Win",
                                    identity: "Windows"
                                }, {
                                    string: navigator.platform,
                                    subString: "Mac",
                                    identity: "Mac"
                                }, {
                                    string: navigator.userAgent,
                                    subString: "iPhone",
                                    identity: "iPhone/iPod"
                                }, {
                                    string: navigator.platform,
                                    subString: "Linux",
                                    identity: "Linux"
                                }]
                            };
                        BrowserDetect.init();   
                     })();
               

                    function cleanUpSpecialChars(str){
                        str = str.replace(/[ÀÁÂÃÄÅ]/g,"A");
                        str = str.replace(/[àáâãäå]/g,"a");
                        str = str.replace(/[ÈÉÊË]/g,"E");
                        str = str.replace(/[éèëê]/g,"e");
                        str = str.replace(/[ÍÌÎÏ]/g,"I");
                        str = str.replace(/[íîïì]/g,"i");
                        str = str.replace(/[ÓÖÒÔ]/g,"O");
                        str = str.replace(/[óòôö]/g,"o");
                        str = str.replace(/[ÚÜÛÙ]/g,"U");
                        str = str.replace(/[úùûü]/g,"u");
                        str = str.replace(/[Ñ]/g,"N");
                        str = str.replace(/[ñ]/g,"n");
                        str = str.replace(/[Ç]/g,"C");
                        str = str.replace(/[ç]/g,"c");
                        return str.replace(/[^a-zA-Z0-9 ]/g, "");
                    }

                </script>
            {% endblock %}

            {% if locale_language_id != "en" %}
                {% if locale_iso.language == "pt" and locale_iso.territory == "BR" %}
                    <script src="/boilerplate/js/libs/jquery_validation/localization/messages_{{ locale_iso.language }}_{{ locale_iso.territory }}.js"></script>
                {% else %}
                    <script src="/boilerplate/js/libs/jquery_validation/localization/messages_{{ locale_language_id }}.js"></script>
                {% endif %}
            {% endif %}

            {% block translations %}
                
                <script src="/{{theme}}/materialize/js/plugins/jquery/jquery.cookies.min.js"></script>
                <script type="text/javascript" src="/{{theme}}/materialize/js/plugins/translator/jqueryTranslator.min.js"></script>
                <script type="text/javascript" src="/{{theme}}/materialize/js/plugins/translator/translation-script.js"></script>
                <script>
                    

                    function forceLang(lang){
                        if (lang == 'en') $('#tr-flag').attr("src", "/default/materialize/images/flags/US.png");
                        if (lang == 'es') $('#tr-flag').attr("src", "/default/materialize/images/flags/Mexico.png");
                        $("[data-translate]").jqTranslate('/default/materialize/js/plugins/translator/translate', {
                            forceLang: lang
                        });

                        /* We save language inside a cookie */
                        $.cookie('app-language', lang);
                        $.cookie('app-language', lang, { path: '/' });
                    }


                </script>
            {% endblock %}

            {% block page_scripts %}
                <script type="text/javascript">
                    var d = new Date();
                    var weekday = new Array(7);
                    weekday[0]=  "Domingo";
                    weekday[1] = "Lunes";
                    weekday[2] = "Martes";
                    weekday[3] = "Miércoles";
                    weekday[4] = "Jueves";
                    weekday[5] = "Viernes";
                    weekday[6] = "Sábado";
                    var n = weekday[d.getDay()];
                    $('#today').html(n);
                </script>
            {% endblock %}
            

        {% endblock %}

    </body>        
{% endblock %}


</html>
