<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Server Error | {{ exception }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <meta name="description" content="default error {{ exception }}">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/boilerplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="/boilerplate/css/bootstrap-responsive.min.css">

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>

<div class="container">
    <h1 style="margin-bottom: 1em;">Lo sentimos, no tienes acceso a esta sección.</h1>

    <div>
        
        <h2> <a href="/">VOLVER</a>. </H2>
    </div>
</div>

</body>
</html>
